In [58]:
import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype

pd.set_option('display.max_columns', 500)

%matplotlib inline

In [59]:
# read the main data set
df=pd.read_csv('estimation_file.csv',
                    encoding='utf-8')

In [60]:
# exclude if ridership is zero--missing data
df = df[df['UPT_ADJ']>0]

In [61]:
df['BUS_FLAG'] = np.where(df['Mode']=='Bus', 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)

In [62]:
# include population + employment
df['POP_EMP'] = df['Tot_Pop'] + df['TOT_EMP_MSA']
df['HH_EMP'] = df['Total_HH'] + df['TOT_EMP_MSA']

df['POP_EMP_log'] = np.log(1+df['POP_EMP'])
df['HH_EMP_log'] = np.log(1+df['HH_EMP'])

In [63]:
# time effects
df['YEARS_SINCE_2002']  = df['Year'] - 2002

df['YEARS_2002_2010']  = df['Year'].apply(lambda x : min(x-2002, 8))
df['YEARS_AFTER_2010'] = df['Year'].apply(lambda x : max(x-2010, 0))

df['YEARS_2002_2014']  = df['Year'].apply(lambda x : min(x-2002, 12))
df['YEARS_AFTER_2014'] = df['Year'].apply(lambda x : max(x-2014, 0))

In [64]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df=df.set_index(['ID','Year'])

In [65]:
# keep only the numeric columns -- the estimation will give an error otherwise
df = df.select_dtypes(include=[np.number])

In [66]:
# create a log of all fields
for col in df.columns:
    df[col+'_log'] = np.log(df[col]+1)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: RuntimeWarning: invalid value encountered in log
  app.launch_new_instance()

In [67]:
# check the data
df.head()

                               Unnamed: 0   CBSA  NEW_CBSA          UPT  \
ID                       Year
Akron, OH Metro Area-Bus 2002           0  10420       NaN  5226385.660
                         2003           1  10420       NaN  5395901.888
                         2004           2  10420       NaN  5907162.281
                         2005           3  10420       NaN  6013680.881
                         2006           4  10420       NaN  6070797.419

                                       VRM      UPT_ADJ      VRM_ADJ  \
ID                       Year
Akron, OH Metro Area-Bus 2002  4026372.388  5226385.660  4026372.388
                         2003  3976568.624  5395901.888  3976568.624
                         2004  4315392.555  5907162.281  4315392.555
                         2005  4053011.065  6013680.881  4053011.065
                         2006  3994786.013  6070797.419  3994786.013

                                   VRH_ADJ  FARE_TOTAL  FARE_per_UPT  \
ID                       Year
Akron, OH Metro Area-Bus 2002  270506.6928    660887.0      0.114148
                         2003  270398.3688   2568502.0      0.429694
                         2004  597239.8605   2524882.0      0.385839
                         2005  281367.9792   3022880.0      0.453758
                         2006  281536.7841   3163036.0      0.470329

                               AREALANDPT      Tot_Pop  Tot_Instate_Pop  \
ID                       Year
Akron, OH Metro Area-Bus 2002   744634347  646583.7344      496141.0469
                         2003   744634347  659397.0625      504631.8125
                         2004   744634347  672492.7500      513183.7500
                         2005   744634347  684459.0000      521491.0000
                         2006   744634347  700943.0000      530777.0000

                               Tot_Outstate_Pop  Tot_NonUSA_POP  \
ID                       Year
Akron, OH Metro Area-Bus 2002       137193.6719      -389.53125
                         2003       137582.3125       753.12500
                         2004       138058.7500      1942.50000
                         2005       138184.0000      2945.00000
                         2006       139714.0000      4695.00000

                               Total_Median_Income_Individual  \
ID                       Year
Akron, OH Metro Area-Bus 2002                     25405.20313
                         2003                     25120.18750
                         2004                     24804.25000
                         2005                     24612.00000
                         2006                     23925.00000

                               Native_Instate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                   26028.32813
                         2003                   25632.68750
                         2004                   25208.25000
                         2005                   24899.00000
                         2006                   24129.00000

                               Native_Outstate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    26651.07813
                         2003                    25995.68750
                         2004                    25305.25000
                         2005                    24755.00000
                         2006                    23644.00000

                               Total_Pop_Poverty  Pop_Below100_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002          682354.11                  7.55
                         2003          682850.56                  8.81
                         2004          683397.75                 10.08
                         2005          683742.00                 11.30
                         2006          684898.00                 12.70

                               Pop_Below150_Poverty  Pop_Above150_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  8.94                 83.85
                         2003                  8.66                 82.79
                         2004                  8.38                 81.73
                         2005                  8.10                 80.70
                         2006                  7.80                 79.50

                               Age_under18  Age_18to64  Age_over64   Total_HH  \
ID                       Year
Akron, OH Metro Area-Bus 2002        24.64        62.9       12.46  265452.20
                         2003        24.33        63.0       12.68  269144.19
                         2004        24.00        63.1       12.90  272892.25
                         2005        23.70        63.2       13.10  276416.00
                         2006        23.30        63.3       13.40  280837.00

                                HH_0Veh   HH_1Veh    HH_2Veh   HH_3Veh  \
ID                       Year
Akron, OH Metro Area-Bus 2002  22830.14  58254.52  117083.25  46891.53
                         2003  22073.44  67400.94  115443.00  44874.88
                         2004  21266.25  76795.25  113694.00  42855.50
                         2005  20661.00  85198.00  112380.00  40847.00
                         2006  19248.00  97567.00  109326.00  38795.00

                               HH_4+Veh  PCT_HH_NO_VEH   HH_MED_INC  \
ID                       Year
Akron, OH Metro Area-Bus 2002  20392.77           8.60  43046.82813
                         2003  19351.94           8.20  43566.68750
                         2004  18281.25           7.79  44030.25000
                         2005  17330.00           7.47  44719.00000
                         2006  15901.00           6.85  44507.00000

                               HH_MEAN_INC  INC_U35  INC_35_100  INC_100P  \
ID                       Year
Akron, OH Metro Area-Bus 2002   55300.5625    39.49       46.56     13.95
                         2003   56379.7500    39.24       46.66     14.10
                         2004   57390.0000    39.03       46.78     14.20
                         2005   58676.0000    38.70       46.80     14.50
                         2006   58859.0000    38.80       47.20     14.00

                               TOT_UNEMP_MSA  TOT_EMP_MSA  TOT_LABOR_MSA  \
ID                       Year
Akron, OH Metro Area-Bus 2002       21948.42    346147.17      368095.58
                         2003       23342.50    348574.17      371916.67
                         2004       23471.75    351723.75      375195.50
                         2005       22420.75    358105.92      380526.67
                         2006       20348.08    365133.33      385481.42

                               UNEMP_RATE_PCT  EMP_RATE_PCT  GasPrice  \
ID                       Year
Akron, OH Metro Area-Bus 2002            5.96         94.04      1.36
                         2003            6.28         93.72      1.55
                         2004            6.26         93.74      1.83
                         2005            5.90         94.10      2.25
                         2006            5.28         94.72      2.54

                               Area_acre  POP_CENSUSTRACT  AVG_SPEED  \
ID                       Year
Akron, OH Metro Area-Bus 2002        NaN         119786.0      14.88
                         2003        NaN         119199.0      14.71
                         2004        NaN         118612.0       7.23
                         2005    13644.8         118025.0      14.40
                         2006    13644.8         117438.0      14.19

                               2018_Dollar_Multiplier  TNC_ARRIVAL  TNC_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    1.40         2014         0
                         2003                    1.37         2014         0
                         2004                    1.33         2014         0
                         2005                    1.29         2014         0
                         2006                    1.25         2014         0

                               YEARS_SINCE_TNC  dockCt  docklessCt  scooterCt  \
ID                       Year
Akron, OH Metro Area-Bus 2002                0       0           0          0
                         2003                0       0           0          0
                         2004                0       0           0          0
                         2005                0       0           0          0
                         2006                0       0           0          0

                               PBS_Start  PBS_End  PBS_Flag  walkscore  \
ID                       Year
Akron, OH Metro Area-Bus 2002        NaN      NaN       0.0          0
                         2003        NaN      NaN       0.0          0
                         2004        NaN      NaN       0.0          0
                         2005        NaN      NaN       0.0          0
                         2006        NaN      NaN       0.0          0

                               transit  bike  FARE_TOTAL_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002        0     0        925241.80
                         2003        0     0       3518847.74
                         2004        0     0       3358093.06
                         2005        0     0       3899515.20
                         2006        0     0       3953795.00

                               TOTAL_MED_INC_INDIV_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002              35567.284382
                         2003              34414.656875
                         2004              32989.652500
                         2005              31749.480000
                         2006              29906.250000

                               NATIVE_INSTATE_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                 36439.659382
                         2003                 35116.781875
                         2004                 33526.972500
                         2005                 32119.710000
                         2006                 30161.250000

                               NATIVE_OUTSTATE_MED_INC_2018  HH_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  37311.509382     60265.559382
                         2003                  35614.091875     59686.361875
                         2004                  33655.982500     58560.232500
                         2005                  31933.950000     57687.510000
                         2006                  29555.000000     55633.750000

                               HH_MEAN_INC_2018  GAS_PRICE_2018  BUS_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002        77420.7875          1.9040         1
                         2003        77240.2575          2.1235         1
                         2004        76328.7000          2.4339         1
                         2005        75692.0400          2.9025         1
                         2006        73573.7500          3.1750         1

                               RAIL_FLAG       POP_EMP     HH_EMP  \
ID                       Year
Akron, OH Metro Area-Bus 2002          0  9.927309e+05  611599.37
                         2003          0  1.007971e+06  617718.36
                         2004          0  1.024216e+06  624616.00
                         2005          0  1.042565e+06  634521.92
                         2006          0  1.066076e+06  645970.33

                               POP_EMP_log  HH_EMP_log  YEARS_SINCE_2002  \
ID                       Year
Akron, OH Metro Area-Bus 2002    13.808216   13.323834                 0
                         2003    13.823451   13.333790                 1
                         2004    13.839439   13.344894                 2
                         2005    13.857195   13.360629                 3
                         2006    13.879496   13.378510                 4

                               YEARS_2002_2010  YEARS_AFTER_2010  \
ID                       Year
Akron, OH Metro Area-Bus 2002                0                 0
                         2003                1                 0
                         2004                2                 0
                         2005                3                 0
                         2006                4                 0

                               YEARS_2002_2014  YEARS_AFTER_2014  \
ID                       Year
Akron, OH Metro Area-Bus 2002                0                 0
                         2003                1                 0
                         2004                2                 0
                         2005                3                 0
                         2006                4                 0

                               Unnamed: 0_log  CBSA_log  NEW_CBSA_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002        0.000000  9.251578           NaN
                         2003        0.693147  9.251578           NaN
                         2004        1.098612  9.251578           NaN
                         2005        1.386294  9.251578           NaN
                         2006        1.609438  9.251578           NaN

                                 UPT_log    VRM_log  UPT_ADJ_log  VRM_ADJ_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002  15.469231  15.208377    15.469231    15.208377
                         2003  15.501150  15.195930    15.501150    15.195930
                         2004  15.591676  15.277699    15.591676    15.277699
                         2005  15.609548  15.214971    15.609548    15.214971
                         2006  15.619001  15.200501    15.619001    15.200501

                               VRH_ADJ_log  FARE_TOTAL_log  FARE_per_UPT_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002    12.508056       13.401340          0.108090
                         2003    12.507655       14.758834          0.357460
                         2004    13.300076       14.741705          0.326305
                         2005    12.547422       14.921721          0.374152
                         2006    12.548022       14.967043          0.385486

                               AREALANDPT_log  Tot_Pop_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002       20.428404    13.379460
                         2003       20.428404    13.399083
                         2004       20.428404    13.418748
                         2005       20.428404    13.436385
                         2006       20.428404    13.460183

                               Tot_Instate_Pop_log  Tot_Outstate_Pop_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002            13.114618             11.829156
                         2003            13.131586             11.831985
                         2004            13.148391             11.835442
                         2005            13.164449             11.836349
                         2006            13.182099             11.847360

                               Tot_NonUSA_POP_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                 NaN
                         2003            6.625558
                         2004            7.572246
                         2005            7.988204
                         2006            8.454466

                               Total_Median_Income_Individual_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                           10.142749
                         2003                           10.131467
                         2004                           10.118811
                         2005                           10.111030
                         2006                           10.082721

                               Native_Instate_Med_Inc_Indiv_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                         10.166979
                         2003                         10.151663
                         2004                         10.134966
                         2005                         10.122623
                         2006                         10.091211

                               Native_Outstate_Med_Inc_Indiv_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                          10.190622
                         2003                          10.165724
                         2004                          10.138807
                         2005                          10.116823
                         2006                          10.070907

                               Total_Pop_Poverty_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002              13.433305
                         2003              13.434033
                         2004              13.434834
                         2005              13.435337
                         2006              13.437027

                               Pop_Below100_Poverty_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  2.145931
                         2003                  2.283402
                         2004                  2.405142
                         2005                  2.509599
                         2006                  2.617396

                               Pop_Below150_Poverty_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  2.296567
                         2003                  2.267994
                         2004                  2.238580
                         2005                  2.208274
                         2006                  2.174752

                               Pop_Above150_Poverty_log  Age_under18_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  4.440885         3.244154
                         2003                  4.428314         3.231989
                         2004                  4.415582         3.218876
                         2005                  4.403054         3.206803
                         2006                  4.388257         3.190476

                               Age_18to64_log  Age_over64_log  Total_HH_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002        4.157319        2.599722     12.489194
                         2003        4.158883        2.615935     12.503006
                         2004        4.160444        2.631889     12.516836
                         2005        4.162003        2.646175     12.529666
                         2006        4.163560        2.667228     12.545533

                               HH_0Veh_log  HH_1Veh_log  HH_2Veh_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002    10.035881    10.972594    11.670649
                         2003    10.002176    11.118429    11.656541
                         2004     9.964924    11.248911    11.641275
                         2005     9.936052    11.352745    11.629650
                         2006     9.865214    11.488305    11.602099

                               HH_3Veh_log  HH_4+Veh_log  PCT_HH_NO_VEH_log  \
ID                       Year
Akron, OH Metro Area-Bus 2002    10.755614      9.922985           2.261763
                         2003    10.711656      9.870600           2.219203
                         2004    10.665613      9.813686           2.173615
                         2005    10.617613      9.760252           2.136531
                         2006    10.566072      9.674200           2.060514

                               HH_MED_INC_log  HH_MEAN_INC_log  INC_U35_log  \

In [68]:
df.to_csv('temp.csv')

## Base model

In [69]:
# Start from this base model

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + POP_EMP_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5081
Estimator:                   PanelOLS   R-squared (Between):              0.9968
No. Observations:                4595   R-squared (Within):               0.5081
Date:                Fri, Nov 01 2019   R-squared (Overall):              0.9967
Time:                        11:03:38   Log-likelihood                   -696.89
Cov. Estimator:            Unadjusted
                                        F-statistic:                      887.21
Entities:                         296   P-value                           0.0000
Avg Obs:                       15.524   Distribution:                  F(5,4294)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             887.21
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(5,4294)
Avg Obs:                       270.29
Min Obs:                       202.00
Max Obs:                       292.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.3568     0.0104     34.405     0.0000      0.3365      0.3772
FARE_per_UPT_log    -0.7585     0.0158    -48.096     0.0000     -0.7894     -0.7276
POP_EMP_log          0.6909     0.0638     10.837     0.0000      0.5659      0.8159
GasPrice_log         0.4324     0.0270     16.002     0.0000      0.3794      0.4854
PCT_HH_NO_VEH        0.0142     0.0042     3.3941     0.0007      0.0060      0.0224
====================================================================================

F-test for Poolability: 60.226
P-value: 0.0000
Distribution: F(295,4294)

Included effects: Entity

In [70]:
# add full time effects -- separate coefficient for each year

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + POP_EMP_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + EntityEffects \
                    + TimeEffects \
                    ',data=df)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4609
Estimator:                   PanelOLS   R-squared (Between):              0.9646
No. Observations:                4595   R-squared (Within):               0.5061
Date:                Fri, Nov 01 2019   R-squared (Overall):              0.9636
Time:                        11:03:41   Log-likelihood                   -634.51
Cov. Estimator:            Unadjusted
                                        F-statistic:                      731.51
Entities:                         296   P-value                           0.0000
Avg Obs:                       15.524   Distribution:                  F(5,4278)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             731.51
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(5,4278)
Avg Obs:                       270.29
Min Obs:                       202.00
Max Obs:                       292.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.3489     0.0103     33.712     0.0000      0.3286      0.3692
FARE_per_UPT_log    -0.7642     0.0156    -48.887     0.0000     -0.7949     -0.7336
POP_EMP_log          0.5216     0.0803     6.4974     0.0000      0.3642      0.6789
GasPrice_log         0.4054     0.2593     1.5636     0.1180     -0.1029      0.9137
PCT_HH_NO_VEH        0.0090     0.0042     2.1452     0.0320      0.0008      0.0172
====================================================================================

F-test for Poolability: 58.860
P-value: 0.0000
Distribution: F(311,4278)

Included effects: Entity, Time

In [71]:
# add time trend since 2002

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + POP_EMP_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_2002 \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5093
Estimator:                   PanelOLS   R-squared (Between):              0.9740
No. Observations:                4595   R-squared (Within):               0.5093
Date:                Fri, Nov 01 2019   R-squared (Overall):              0.9731
Time:                        11:03:46   Log-likelihood                   -691.47
Cov. Estimator:            Unadjusted
                                        F-statistic:                      742.61
Entities:                         296   P-value                           0.0000
Avg Obs:                       15.524   Distribution:                  F(6,4293)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             742.61
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(6,4293)
Avg Obs:                       270.29
Min Obs:                       202.00
Max Obs:                       292.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.3533     0.0104     33.915     0.0000      0.3329      0.3738
FARE_per_UPT_log    -0.7618     0.0158    -48.253     0.0000     -0.7928     -0.7309
POP_EMP_log          0.5420     0.0790     6.8624     0.0000      0.3872      0.6969
GasPrice_log         0.4078     0.0281     14.522     0.0000      0.3527      0.4628
PCT_HH_NO_VEH        0.0141     0.0042     3.3824     0.0007      0.0059      0.0223
YEARS_SINCE_2002     0.0043     0.0013     3.1860     0.0015      0.0016      0.0069
====================================================================================

F-test for Poolability: 60.218
P-value: 0.0000
Distribution: F(295,4293)

Included effects: Entity

In [72]:
# add time trend pivoting at 2010

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + POP_EMP_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_2002_2010 \
                    + YEARS_AFTER_2010 \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5168
Estimator:                   PanelOLS   R-squared (Between):              0.9593
No. Observations:                4595   R-squared (Within):               0.5168
Date:                Fri, Nov 01 2019   R-squared (Overall):              0.9583
Time:                        11:03:53   Log-likelihood                   -655.87
Cov. Estimator:            Unadjusted
                                        F-statistic:                      655.88
Entities:                         296   P-value                           0.0000
Avg Obs:                       15.524   Distribution:                  F(7,4292)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             655.88
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(7,4292)
Avg Obs:                       270.29
Min Obs:                       202.00
Max Obs:                       292.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.3485     0.0104     33.648     0.0000      0.3282      0.3688
FARE_per_UPT_log    -0.7641     0.0157    -48.759     0.0000     -0.7948     -0.7334
POP_EMP_log          0.5163     0.0785     6.5814     0.0000      0.3625      0.6701
GasPrice_log         0.1541     0.0417     3.6983     0.0002      0.0724      0.2358
PCT_HH_NO_VEH        0.0109     0.0042     2.6146     0.0090      0.0027      0.0190
YEARS_2002_2010      0.0328     0.0037     8.7935     0.0000      0.0255      0.0401
YEARS_AFTER_2010    -0.0116     0.0024    -4.9469     0.0000     -0.0163     -0.0070
====================================================================================

F-test for Poolability: 61.360
P-value: 0.0000
Distribution: F(295,4292)

Included effects: Entity

In [73]:
# add time trend pivoting at 2010

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + POP_EMP_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_2002_2014 \
                    + YEARS_AFTER_2014 \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5180
Estimator:                   PanelOLS   R-squared (Between):              0.9732
No. Observations:                4595   R-squared (Within):               0.5180
Date:                Fri, Nov 01 2019   R-squared (Overall):              0.9723
Time:                        11:04:05   Log-likelihood                   -650.36
Cov. Estimator:            Unadjusted
                                        F-statistic:                      658.93
Entities:                         296   P-value                           0.0000
Avg Obs:                       15.524   Distribution:                  F(7,4292)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             658.93
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(7,4292)
Avg Obs:                       270.29
Min Obs:                       202.00
Max Obs:                       292.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.3512     0.0103     33.998     0.0000      0.3309      0.3714
FARE_per_UPT_log    -0.7641     0.0157    -48.818     0.0000     -0.7948     -0.7334
POP_EMP_log          0.5587     0.0783     7.1339     0.0000      0.4052      0.7122
GasPrice_log         0.1904     0.0372     5.1162     0.0000      0.1174      0.2633
PCT_HH_NO_VEH        0.0088     0.0042     2.1148     0.0345      0.0006      0.0170
YEARS_2002_2014      0.0193     0.0022     8.9249     0.0000      0.0151      0.0236
YEARS_AFTER_2014    -0.0409     0.0053    -7.7183     0.0000     -0.0513     -0.0305
====================================================================================

F-test for Poolability: 61.549
P-value: 0.0000
Distribution: F(295,4292)

Included effects: Entity