In [1]:
import pandas as pd
import numpy as np

In [18]:
import os
os.getcwd()

'/Users/rianajawad/Dropbox/TCRP A-43/Task 3 Multi City Evaluation/Work'

In [2]:
df=pd.read_excel('../Factors and Ridership Data/Final Datasets/UZA_MSA_Conversion.xlsx', encoding='utf-8')
df.head()
#UZA to MSA conversion

,UA,UANAME,CBSA,MNAME,MEMI,POPPT,HUPT,AREAPT,AREALANDPT,UAPOP,...,MAREA,MAREALAND,UAPOPPCT,UAHUPCT,UAAREAPCT,UAAREALANDPCT,MPOPPCT,MHUPCT,MAREAPCT,MAREALANDPCT
0,37,"Abbeville, LA Urban Cluster",10020,"Abbeville, LA Micro Area",2.0,19268,8216,28218638,27918141,19824.0,...,3.993942e+09,3.038572e+09,97.20,97.12,95.58,95.54,33.22,32.56,0.71,0.92
1,37,"Abbeville, LA Urban Cluster",35340,"New Iberia, LA Micro Area",2.0,556,244,1304730,1304730,19824.0,...,2.669056e+09,1.486940e+09,2.80,2.88,4.42,4.46,0.76,0.82,0.05,0.09
2,64,"Abbeville, SC Urban Cluster",99999,Not in a metro/micro area,NaN,5243,2578,11334983,11315197,5243.0,...,NaN,NaN,100.00,100.00,100.00,100.00,NaN,NaN,NaN,NaN
3,91,"Abbotsford, WI Urban Cluster",48140,"Wausau, WI Metro Area",1.0,1103,428,2102170,2102170,3966.0,...,4.082627e+09,4.001488e+09,27.81,26.49,39.10,39.19,0.82,0.74,0.05,0.05
4,91,"Abbotsford, WI Urban Cluster",99999,Not in a metro/micro area,NaN,2863,1188,3274492,3261271,3966.0,...,NaN,NaN,72.19,73.51,60.90,60.81,NaN,NaN,NaN,NaN

In [3]:
df=df.sort_values(by=['UAPOPPCT','UANAME','MNAME'],ascending=False)

In [4]:
sorted_df=df.drop_duplicates('UANAME')
#taking the rows with highest UAPOPPCT for each UANAME

In [5]:
sorted_df=sorted_df[sorted_df['MNAME']!='Not in a metro/micro area']

In [6]:
sorted_df.head()

,UA,UANAME,CBSA,MNAME,MEMI,POPPT,HUPT,AREAPT,AREALANDPT,UAPOP,...,MAREA,MAREALAND,UAPOPPCT,UAHUPCT,UAAREAPCT,UAAREALANDPCT,MPOPPCT,MHUPCT,MAREAPCT,MAREALANDPCT
4211,98263,"Zuni Pueblo, NM Urban Cluster",23700,"Gallup, NM Micro Area",2.0,6744,1812,11876813,11876813,6744.0,...,1.412910e+10,1.411494e+10,100.0,100.0,100.0,100.0,9.43,7.02,0.08,0.08
4210,98236,"Zumbrota, MN Urban Cluster",39860,"Red Wing, MN Micro Area",2.0,3161,1401,4819963,4819963,3161.0,...,2.021226e+09,1.960201e+09,100.0,100.0,100.0,100.0,6.84,6.89,0.24,0.25
4209,98209,"Zimmerman, MN Urban Cluster",33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",1.0,8110,3018,26990644,24496917,8110.0,...,1.648211e+10,1.561030e+10,100.0,100.0,100.0,100.0,0.25,0.22,0.16,0.16
4208,98182,"Zephyrhills, FL Urbanized Area",45300,"Tampa-St. Petersburg-Clearwater, FL Metro Area",1.0,66609,37667,114241784,112650971,66609.0,...,8.628199e+09,6.509772e+09,100.0,100.0,100.0,100.0,2.39,2.78,1.32,1.73
4206,98074,"Zanesville, OH Urban Cluster",49780,"Zanesville, OH Micro Area",2.0,42132,19783,74024665,72435353,42132.0,...,1.741982e+09,1.721251e+09,100.0,100.0,100.0,100.0,48.95,51.96,4.25,4.21

In [7]:
sorted_df=sorted_df.iloc[:,[0,1,2,3,9,13]]

In [37]:
sorted_df['metro_micro']=sorted_df['MNAME'].apply(lambda x: "Micro Area" in x)

In [41]:
sorted_df=sorted_df[sorted_df['metro_micro']==False]

In [42]:
sorted_df.to_csv('../Factors and Ridership Data/Final Datasets/UZA_Conversion.csv')

In [8]:
df=pd.read_csv('../Factors and Ridership Data/Employment/lma_code.csv', encoding='utf-8')
df

,record,lma_code,lma_fips,lma_title
0,1,MC0110700000000,10700,"Albertville, AL Micropolitan Statistical Area"
1,2,MC0110760000000,10760,"Alexander City, AL Micropolitan Statistical Area"
2,3,MT0111500000000,11500,"Anniston-Oxford-Jacksonville, AL Metropolitan ..."
3,4,MC0112120000000,12120,"Atmore, AL Micropolitan Statistical Area"
4,5,MT0112220000000,12220,"Auburn-Opelika, AL Metropolitan Statistical Area"
5,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
6,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
7,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
8,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
9,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
10,11,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
11,12,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical..."
12,13,CN0101100000000,11,"Bullock County, AL"
13,14,CN0101300000000,13,"Butler County, AL"
14,15,CN0101900000000,19,"Cherokee County, AL"
15,16,CN0102300000000,23,"Choctaw County, AL"
16,17,CN0102500000000,25,"Clarke County, AL"
17,18,CN0102700000000,27,"Clay County, AL"
18,19,CN0102900000000,29,"Cleburne County, AL"
19,20,MT1317980000000,17980,"Columbus, GA-AL Metropolitan Statistical Area"
20,21,CN0103500000000,35,"Conecuh County, AL"
21,22,CN0103900000000,39,"Covington County, AL"
22,23,CN0104100000000,41,"Crenshaw County, AL"
23,24,MC0118980000000,18980,"Cullman, AL Micropolitan Statistical Area"
24,25,MT0119300000000,19300,"Daphne-Fairhope-Foley, AL Metropolitan Statist..."
25,26,MT0119460000000,19460,"Decatur, AL Metropolitan Statistical Area"
26,27,MT0119460000000,19460,"Decatur, AL Metropolitan Statistical Area"
27,28,MT0120020000000,20020,"Dothan, AL Metropolitan Statistical Area"
28,29,MT0120020000000,20020,"Dothan, AL Metropolitan Statistical Area"
29,30,MT0120020000000,20020,"Dothan, AL Metropolitan Statistical Area"
...,...,...,...,...
4713,4714,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4714,4715,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4715,4716,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4716,4717,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4717,4718,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4718,4719,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4719,4720,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4720,4721,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4721,4722,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4722,4723,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4723,4724,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4724,4725,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4725,4726,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4726,4727,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4727,4728,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4728,4729,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4729,4730,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4730,4731,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4731,4732,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4732,4733,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4733,4734,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4734,4735,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4735,4736,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4736,4737,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4737,4738,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4738,4739,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4739,4740,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4740,4741,MT7241980000000,41980,"San Juan-Carolina-Caguas, PR Metropolitan Stat..."
4741,4742,MC7242180000000,42180,"Santa Isabel, PR Micropolitan Statistical Area"
4742,4743,CN7214700000000,147,"Vieques Municipio, PR"

In [9]:
df['two_digit']=df['lma_code'].apply(lambda x: x[0:2])

In [10]:
df=df[df['two_digit']=='MT']

In [26]:
df=df.drop_duplicates(subset=['lma_code','lma_title'])

In [27]:
df.head(20)

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code
2,3,MT0111500000000,11500,"Anniston-Oxford-Jacksonville, AL Metropolitan ...",MT,LAUMT0111500000000
4,5,MT0112220000000,12220,"Auburn-Opelika, AL Metropolitan Statistical Area",MT,LAUMT0112220000000
5,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000
19,20,MT1317980000000,17980,"Columbus, GA-AL Metropolitan Statistical Area",MT,LAUMT1317980000000
24,25,MT0119300000000,19300,"Daphne-Fairhope-Foley, AL Metropolitan Statist...",MT,LAUMT0119300000000
25,26,MT0119460000000,19460,"Decatur, AL Metropolitan Statistical Area",MT,LAUMT0119460000000
27,28,MT0120020000000,20020,"Dothan, AL Metropolitan Statistical Area",MT,LAUMT0120020000000
33,34,MT0122520000000,22520,"Florence-Muscle Shoals, AL Metropolitan Statis...",MT,LAUMT0122520000000
37,38,MT0123460000000,23460,"Gadsden, AL Metropolitan Statistical Area",MT,LAUMT0123460000000
39,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000
45,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000
47,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000
60,61,MT0146220000000,46220,"Tuscaloosa, AL Metropolitan Statistical Area",MT,LAUMT0146220000000
69,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000
75,76,MT0221820000000,21820,"Fairbanks, AK Metropolitan Statistical Area",MT,LAUMT0221820000000
97,98,MT0422380000000,22380,"Flagstaff, AZ Metropolitan Statistical Area",MT,LAUMT0422380000000
100,101,MT0429420000000,29420,"Lake Havasu City-Kingman, AZ Metropolitan Stat...",MT,LAUMT0429420000000
103,104,MT0438060000000,38060,"Phoenix-Mesa-Scottsdale, AZ Metropolitan Stati...",MT,LAUMT0438060000000
105,106,MT0439140000000,39140,"Prescott, AZ Metropolitan Statistical Area",MT,LAUMT0439140000000
108,109,MT0443420000000,43420,"Sierra Vista-Douglas, AZ Metropolitan Statisti...",MT,LAUMT0443420000000

In [12]:
df['Area_Code']=df['lma_code'].apply(lambda x: 'LAU'+x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
df.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code
2,3,MT0111500000000,11500,"Anniston-Oxford-Jacksonville, AL Metropolitan ...",MT,LAUMT0111500000000
4,5,MT0112220000000,12220,"Auburn-Opelika, AL Metropolitan Statistical Area",MT,LAUMT0112220000000
5,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000
19,20,MT1317980000000,17980,"Columbus, GA-AL Metropolitan Statistical Area",MT,LAUMT1317980000000
24,25,MT0119300000000,19300,"Daphne-Fairhope-Foley, AL Metropolitan Statist...",MT,LAUMT0119300000000

In [29]:
df.to_csv('Area_Code.csv')

In [66]:
x="LAUMT021126000000003"
len(x[:-2])

18

In [50]:
len("LAU"+"MT0111500000000"+'03')

20

In [13]:
employment=pd.read_csv('../Factors and Ridership Data/Employment/employment.csv', encoding='utf-8')
employment

,Series ID,Data Type,Jan 2002,Feb 2002,Mar 2002,Apr 2002,May 2002,Jun 2002,Jul 2002,Aug 2002,...,Mar 2019,Apr 2019,May 2019,Jun 2019,Jul 2019,Aug 2019,Sep 2019,Oct 2019,Nov 2019,Dec 2019
0,LAUMT021126000000003,Unemployment Rate,6.3,6.7,6.7,6.5,6.2,6.4,6.0,5.8,...,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LAUMT021126000000004,Unemployment,11059.0,11606.0,11669.0,11222.0,10727.0,11454.0,10497.0,10008.0,...,12457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LAUMT021126000000005,Employment,164075.0,162486.0,162329.0,161677.0,162537.0,166256.0,163164.0,162352.0,...,183879.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LAUMT021126000000006,Total Labor Force,175134.0,174092.0,173998.0,172899.0,173264.0,177710.0,173661.0,172360.0,...,196336.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LAUMT011382000000003,Unemployment Rate,5.2,5.4,5.1,4.5,4.4,5.4,5.2,5.4,...,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,LAUMT011382000000004,Unemployment,27274.0,28075.0,26660.0,23184.0,22945.0,28159.0,27154.0,28192.0,...,18875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,LAUMT011382000000005,Employment,494684.0,496008.0,497251.0,496340.0,496893.0,496239.0,497292.0,496204.0,...,535594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,LAUMT011382000000006,Total Labor Force,521958.0,524083.0,523911.0,519524.0,519838.0,524398.0,524446.0,524396.0,...,554469.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LAUMT012662000000003,Unemployment Rate,5.2,5.1,4.9,4.1,4.0,4.9,5.5,4.8,...,3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,LAUMT012662000000004,Unemployment,9275.0,9182.0,8879.0,7460.0,7289.0,9072.0,10047.0,8906.0,...,7434.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LAUMT012662000000005,Employment,170800.0,171510.0,172107.0,173275.0,173521.0,174202.0,173173.0,175288.0,...,219105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,LAUMT012662000000006,Total Labor Force,180075.0,180692.0,180986.0,180735.0,180810.0,183274.0,183220.0,184194.0,...,226539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LAUMT013366000000003,Unemployment Rate,7.2,6.9,6.5,5.7,5.7,6.8,6.7,6.9,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,LAUMT013366000000004,Unemployment,12858.0,12424.0,11701.0,10363.0,10330.0,12507.0,12212.0,12622.0,...,8619.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,LAUMT013366000000005,Employment,166757.0,168202.0,169707.0,170013.0,170352.0,170906.0,170251.0,169757.0,...,181170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LAUMT013366000000006,Total Labor Force,179615.0,180626.0,181408.0,180376.0,180682.0,183413.0,182463.0,182379.0,...,189789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,LAUMT013386000000003,Unemployment Rate,5.5,5.5,5.2,4.5,4.6,5.7,5.4,5.6,...,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LAUMT013386000000004,Unemployment,8817.0,8900.0,8409.0,7193.0,7373.0,9161.0,8866.0,9169.0,...,6444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,LAUMT013386000000005,Employment,152734.0,153151.0,153160.0,153450.0,153288.0,152850.0,154155.0,154166.0,...,167730.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LAUMT013386000000006,Total Labor Force,161551.0,162051.0,161569.0,160643.0,160661.0,162011.0,163021.0,163335.0,...,174174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,LAUMT053078000000003,Unemployment Rate,5.4,5.3,5.0,4.9,4.9,5.2,5.3,4.7,...,3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LAUMT053078000000004,Unemployment,16379.0,16371.0,15647.0,15230.0,15287.0,16610.0,16795.0,14887.0,...,11059.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LAUMT053078000000005,Employment,286984.0,293072.0,294541.0,296662.0,297315.0,302157.0,302051.0,298937.0,...,345459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,LAUMT053078000000006,Total Labor Force,303363.0,309443.0,310188.0,311892.0,312602.0,318767.0,318846.0,313824.0,...,356518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,LAUMT042238000000003,Unemployment Rate,6.0,5.6,5.7,5.1,4.7,5.9,5.9,5.7,...,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,LAUMT042238000000004,Unemployment,3838.0,3591.0,3634.0,3343.0,3112.0,4025.0,4106.0,3759.0,...,4369.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,LAUMT042238000000005,Employment,59659.0,60345.0,60264.0,61778.0,62480.0,64566.0,65169.0,62536.0,...,72397.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,LAUMT042238000000006,Total Labor Force,63497.0,63936.0,63898.0,65121.0,65592.0,68591.0,69275.0,66295.0,...,76766.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,LAUMT061254000000003,Unemployment Rate,10.7,11.0,11.6,10.2,8.7,9.4,9.2,8.4,...,10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,LAUMT061254000000004,Unemployment,31924.0,32697.0,34629.0,30943.0,26520.0,29204.0,28506.0,26113.0,...,39268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,LAUMT174042000000005,Employment,150153.0,151390.0,151303.0,151163.0,152188.0,153374.0,152276.0,152019.0,...,156704.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,LAUMT174042000000006,Total Labor Force,162930.0,164146.0,163457.0,162183.0,162544.0,164888.0,163941.0,163460.0,...,167802.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,LAUMT174410000000003,Unemployment Rate,4.9,4.7,4.5,4.1,4.1,4.8,4.8,4.6,...,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,LAUMT174410000000004,Unemployment,5378.0,5234.0,4940.0,4508.0,4528.0,5438.0,5431.0,5221.0,...,5606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,LAUMT174410000000005,Employment,105079.0,105794.0,105961.0,106340.0,106882.0,107436.0,106778.0,108939.0,...,104973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,LAUMT174410000000006,Total Labor Force,110457.0,111028.0,110901.0,110848.0,111410.0,112874.0,112209.0,114160.0,...,110579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,LAUMT161426000000003,Unemployment Rate,6.1,6.0,5.8,5.4,4.6,4.9,4.8,4.8,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,LAUMT161426000000004,Unemployment,15992.0,15900.0,15133.0,13962.0,12071.0,12953.0,12696.0,12493.0,...,10918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,LAUMT161426000000005,Employment,245580.0,247504.0,248041.0,246591.0,249615.0,251204.0,252326.0,249914.0,...,359395.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,LAUMT161426000000006,Total Labor Force,261572.0,263404.0,263174.0,260553.0,261686.0,264157.0,265022.0,262407.0,...,370313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,LAUMT191118000000003,Unemployment Rate,2.7,2.5,2.6,2.4,2.2,2.9,2.8,2.7,...,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,LAUMT191118000000004,Unemployment,1251.0,1227.0,1257.0,1183.0,1084.0,1367.0,1266.0,1250.0,...,892.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,LAUMT191118000000005,Employment,45248.0,46920.0,47260.0,47485.0,47870.0,46197.0,44594.0,45030.0,...,59565.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,LAUMT191118000000006,Total Labor Force,46499.0,48147.0,48517.0,48668.0,48954.0,47564.0,45860.0,46280.0,...,60457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,LAUMT191630000000003,Unemployment Rate,5.0,4.9,4.8,4.3,3.9,4.3,4.1,4.8,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,LAUMT191630000000004,Unemployment,6917.0,6824.0,6703.0,6155.0,5537.0,6157.0,5817.0,6709.0,...,4217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,LAUMT191630000000005,Employment,131607.0,133503.0,134296.0,135694.0,135676.0,136026.0,135102.0,133527.0,...,140703.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,LAUMT191630000000006,Total Labor Force,138524.0,140327.0,140999.0,141849.0,141213.0,142183.0,140919.0,140236.0,...,144920.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,LAUMT191978000000003,Unemployment Rate,4.1,4.0,4.0,3.5,3.1,3.6,3.4,3.4,...,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,LAUMT191978000000004,Unemployment,11575.0,11473.0,11489.0,10144.0,9170.0,10774.0,9979.0,10008.0,...,10044.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,LAUMT191978000000005,Employment,270878.0,274572.0,276368.0,280244.0,283308.0,287048.0,287401.0,284793.0,...,352279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,LAUMT191978000000006,Total Labor Force,282453.0,286045.0,287857.0,290388.0,292478.0,297822.0,297380.0,294801.0,...,362323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,LAUMT192698000000003,Unemployment Rate,3.2,3.0,2.9,2.7,2.5,3.1,2.9,2.9,...,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,LAUMT192698000000004,Unemployment,2597.0,2490.0,2480.0,2338.0,2120.0,2567.0,2401.0,2459.0,...,1844.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,LAUMT192698000000005,Employment,79482.0,81297.0,82121.0,82751.0,82827.0,81220.0,81658.0,81297.0,...,96830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,LAUMT192698000000006,Total Labor Force,82079.0,83787.0,84601.0,85089.0,84947.0,83787.0,84059.0,83756.0,...,98674.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,LAUMT171934000000003,Unemployment Rate,6.4,5.8,5.7,5.0,4.7,5.0,4.8,4.8,...,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,LAUMT171934000000004,Unemployment,12383.0,11278.0,11148.0,9822.0,9270.0,10057.0,9556.0,9470.0,...,9489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,LAUMT171934000000005,Employment,181275.0,183811.0,185426.0,186679.0,188385.0,191263.0,189999.0,188194.0,...,184247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,LAUMT171934000000006,Total Labor Force,193658.0,195089.0,196574.0,196501.0,197655.0,201320.0,199555.0,197664.0,...,193736.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
employment=employment.dropna(axis=1)

In [31]:
employment.head()

,Series ID,Data Type,Jan 2002,Feb 2002,Mar 2002,Apr 2002,May 2002,Jun 2002,Jul 2002,Aug 2002,...,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019,Area_Code
0,LAUMT021126000000003,Unemployment Rate,6.3,6.7,6.7,6.5,6.2,6.4,6.0,5.8,...,5.7,5.4,5.6,5.6,5.6,5.6,6.3,6.5,6.3,LAUMT0211260000000
1,LAUMT021126000000004,Unemployment,11059.0,11606.0,11669.0,11222.0,10727.0,11454.0,10497.0,10008.0,...,11348.0,10598.0,11023.0,11106.0,11379.0,11233.0,12520.0,12683.0,12457.0,LAUMT0211260000000
2,LAUMT021126000000005,Employment,164075.0,162486.0,162329.0,161677.0,162537.0,166256.0,163164.0,162352.0,...,188599.0,185862.0,186304.0,188090.0,190043.0,189822.0,185166.0,183324.0,183879.0,LAUMT0211260000000
3,LAUMT021126000000006,Total Labor Force,175134.0,174092.0,173998.0,172899.0,173264.0,177710.0,173661.0,172360.0,...,199947.0,196460.0,197327.0,199196.0,201422.0,201055.0,197686.0,196007.0,196336.0,LAUMT0211260000000
4,LAUMT011382000000003,Unemployment Rate,5.2,5.4,5.1,4.5,4.4,5.4,5.2,5.4,...,3.8,3.7,3.3,3.4,3.0,3.2,3.9,3.6,3.4,LAUMT0113820000000

In [32]:
employment['Area_Code']=employment['Series ID'].apply(lambda x:x[:-2])
employment

,Series ID,Data Type,Jan 2002,Feb 2002,Mar 2002,Apr 2002,May 2002,Jun 2002,Jul 2002,Aug 2002,...,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019,Area_Code
0,LAUMT021126000000003,Unemployment Rate,6.3,6.7,6.7,6.5,6.2,6.4,6.0,5.8,...,5.7,5.4,5.6,5.6,5.6,5.6,6.3,6.5,6.3,LAUMT0211260000000
1,LAUMT021126000000004,Unemployment,11059.0,11606.0,11669.0,11222.0,10727.0,11454.0,10497.0,10008.0,...,11348.0,10598.0,11023.0,11106.0,11379.0,11233.0,12520.0,12683.0,12457.0,LAUMT0211260000000
2,LAUMT021126000000005,Employment,164075.0,162486.0,162329.0,161677.0,162537.0,166256.0,163164.0,162352.0,...,188599.0,185862.0,186304.0,188090.0,190043.0,189822.0,185166.0,183324.0,183879.0,LAUMT0211260000000
3,LAUMT021126000000006,Total Labor Force,175134.0,174092.0,173998.0,172899.0,173264.0,177710.0,173661.0,172360.0,...,199947.0,196460.0,197327.0,199196.0,201422.0,201055.0,197686.0,196007.0,196336.0,LAUMT0211260000000
4,LAUMT011382000000003,Unemployment Rate,5.2,5.4,5.1,4.5,4.4,5.4,5.2,5.4,...,3.8,3.7,3.3,3.4,3.0,3.2,3.9,3.6,3.4,LAUMT0113820000000
5,LAUMT011382000000004,Unemployment,27274.0,28075.0,26660.0,23184.0,22945.0,28159.0,27154.0,28192.0,...,20721.0,20124.0,18060.0,18447.0,16618.0,17366.0,21438.0,19591.0,18875.0,LAUMT0113820000000
6,LAUMT011382000000005,Employment,494684.0,496008.0,497251.0,496340.0,496893.0,496239.0,497292.0,496204.0,...,527122.0,522526.0,523524.0,530206.0,531460.0,531358.0,526601.0,531358.0,535594.0,LAUMT0113820000000
7,LAUMT011382000000006,Total Labor Force,521958.0,524083.0,523911.0,519524.0,519838.0,524398.0,524446.0,524396.0,...,547843.0,542650.0,541584.0,548653.0,548078.0,548724.0,548039.0,550949.0,554469.0,LAUMT0113820000000
8,LAUMT012662000000003,Unemployment Rate,5.2,5.1,4.9,4.1,4.0,4.9,5.5,4.8,...,3.8,3.7,3.3,3.3,2.9,3.1,3.8,3.4,3.3,LAUMT0126620000000
9,LAUMT012662000000004,Unemployment,9275.0,9182.0,8879.0,7460.0,7289.0,9072.0,10047.0,8906.0,...,8494.0,8111.0,7264.0,7441.0,6598.0,6829.0,8448.0,7568.0,7434.0,LAUMT0126620000000
10,LAUMT012662000000005,Employment,170800.0,171510.0,172107.0,173275.0,173521.0,174202.0,173173.0,175288.0,...,214487.0,212309.0,212953.0,217187.0,218310.0,216689.0,215197.0,217754.0,219105.0,LAUMT0126620000000
11,LAUMT012662000000006,Total Labor Force,180075.0,180692.0,180986.0,180735.0,180810.0,183274.0,183220.0,184194.0,...,222981.0,220420.0,220217.0,224628.0,224908.0,223518.0,223645.0,225322.0,226539.0,LAUMT0126620000000
12,LAUMT013366000000003,Unemployment Rate,7.2,6.9,6.5,5.7,5.7,6.8,6.7,6.9,...,5.2,4.9,4.4,4.3,3.9,4.2,5.2,5.0,4.5,LAUMT0133660000000
13,LAUMT013366000000004,Unemployment,12858.0,12424.0,11701.0,10363.0,10330.0,12507.0,12212.0,12622.0,...,9817.0,9102.0,8194.0,8147.0,7367.0,7938.0,9788.0,9377.0,8619.0,LAUMT0133660000000
14,LAUMT013366000000005,Employment,166757.0,168202.0,169707.0,170013.0,170352.0,170906.0,170251.0,169757.0,...,178300.0,176710.0,178010.0,180239.0,180591.0,180178.0,178267.0,179920.0,181170.0,LAUMT0133660000000
15,LAUMT013366000000006,Total Labor Force,179615.0,180626.0,181408.0,180376.0,180682.0,183413.0,182463.0,182379.0,...,188117.0,185812.0,186204.0,188386.0,187958.0,188116.0,188055.0,189297.0,189789.0,LAUMT0133660000000
16,LAUMT013386000000003,Unemployment Rate,5.5,5.5,5.2,4.5,4.6,5.7,5.4,5.6,...,4.2,4.1,3.7,3.7,3.4,3.6,4.3,3.9,3.7,LAUMT0133860000000
17,LAUMT013386000000004,Unemployment,8817.0,8900.0,8409.0,7193.0,7373.0,9161.0,8866.0,9169.0,...,7298.0,7111.0,6315.0,6430.0,5773.0,6105.0,7311.0,6707.0,6444.0,LAUMT0133860000000
18,LAUMT013386000000005,Employment,152734.0,153151.0,153160.0,153450.0,153288.0,152850.0,154155.0,154166.0,...,166385.0,164598.0,164738.0,165929.0,166073.0,165761.0,164532.0,166761.0,167730.0,LAUMT0133860000000
19,LAUMT013386000000006,Total Labor Force,161551.0,162051.0,161569.0,160643.0,160661.0,162011.0,163021.0,163335.0,...,173683.0,171709.0,171053.0,172359.0,171846.0,171866.0,171843.0,173468.0,174174.0,LAUMT0133860000000
20,LAUMT053078000000003,Unemployment Rate,5.4,5.3,5.0,4.9,4.9,5.2,5.3,4.7,...,3.5,3.3,3.2,3.0,2.9,3.3,3.9,3.9,3.1,LAUMT0530780000000
21,LAUMT053078000000004,Unemployment,16379.0,16371.0,15647.0,15230.0,15287.0,16610.0,16795.0,14887.0,...,12906.0,11763.0,11341.0,10672.0,10347.0,11539.0,13812.0,13780.0,11059.0,LAUMT0530780000000
22,LAUMT053078000000005,Employment,286984.0,293072.0,294541.0,296662.0,297315.0,302157.0,302051.0,298937.0,...,350872.0,345914.0,343927.0,344888.0,343621.0,340771.0,337077.0,341941.0,345459.0,LAUMT0530780000000
23,LAUMT053078000000006,Total Labor Force,303363.0,309443.0,310188.0,311892.0,312602.0,318767.0,318846.0,313824.0,...,363778.0,357677.0,355268.0,355560.0,353968.0,352310.0,350889.0,355721.0,356518.0,LAUMT0530780000000
24,LAUMT042238000000003,Unemployment Rate,6.0,5.6,5.7,5.1,4.7,5.9,5.9,5.7,...,5.9,5.5,5.1,5.3,5.3,6.2,7.5,6.1,5.7,LAUMT0422380000000
25,LAUMT042238000000004,Unemployment,3838.0,3591.0,3634.0,3343.0,3112.0,4025.0,4106.0,3759.0,...,4524.0,4310.0,4076.0,4152.0,4115.0,4819.0,5819.0,4669.0,4369.0,LAUMT0422380000000
26,LAUMT042238000000005,Employment,59659.0,60345.0,60264.0,61778.0,62480.0,64566.0,65169.0,62536.0,...,72642.0,74341.0,75221.0,74656.0,73772.0,72679.0,72207.0,72175.0,72397.0,LAUMT0422380000000
27,LAUMT042238000000006,Total Labor Force,63497.0,63936.0,63898.0,65121.0,65592.0,68591.0,69275.0,66295.0,...,77166.0,78651.0,79297.0,78808.0,77887.0,77498.0,78026.0,76844.0,76766.0,LAUMT0422380000000
28,LAUMT061254000000003,Unemployment Rate,10.7,11.0,11.6,10.2,8.7,9.4,9.2,8.4,...,8.3,7.3,6.5,6.5,6.5,7.5,9.1,9.3,10.1,LAUMT0612540000000
29,LAUMT061254000000004,Unemployment,31924.0,32697.0,34629.0,30943.0,26520.0,29204.0,28506.0,26113.0,...,32117.0,28690.0,25317.0,25417.0,25161.0,28821.0,35806.0,36656.0,39268.0,LAUMT0612540000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,LAUMT174042000000005,Employment,150153.0,151390.0,151303.0,151163.0,152188.0,153374.0,152276.0,152019.0,...,159876.0,156954.0,157855.0,158759.0,155267.0,157680.0,155538.0,157008.0,156704.0,LAUMT1740420000000
635,LAUMT174042000000006,Total Labor Force,162930.0,164146.0,163457.0,162183.0,162544.0,164888.0,163941.0,163460.0,...,169002.0,166203.0,166075.0,167798.0,171319.0,168473.0,167408.0,167811.0,167802.0,LAUMT1740420000000
636,LAUMT174410000000003,Unemployment Rate,4.9,4.7,4.5,4.1,4.1,4.8,4.8,4.6,...,4.3,4.4,4.0,4.2,4.2,5.0,5.7,5.1,5.1,LAUMT1744100000000
637,LAUMT174410000000004,Unemployment,5378.0,5234.0,4940.0,4508.0,4528.0,5438.0,5431.0,5221.0,...,4858.0,4962.0,4424.0,4715.0,4646.0,5557.0,6212.0,5635.0,5606.0,LAUMT1744100000000
638,LAUMT174410000000005,Employment,105079.0,105794.0,105961.0,106340.0,106882.0,107436.0,106778.0,108939.0,...,107809.0,108355.0,107178.0,106812.0,106812.0,105700.0,103407.0,104537.0,104973.0,LAUMT1744100000000
639,LAUMT174410000000006,Total Labor Force,110457.0,111028.0,110901.0,110848.0,111410.0,112874.0,112209.0,114160.0,...,112667.0,113317.0,111602.0,111527.0,111458.0,111257.0,109619.0,110172.0,110579.0,LAUMT1744100000000
640,LAUMT161426000000003,Unemployment Rate,6.1,6.0,5.8,5.4,4.6,4.9,4.8,4.8,...,2.5,2.3,2.2,2.2,2.5,2.7,3.7,3.3,2.9,LAUMT1614260000000
641,LAUMT161426000000004,Unemployment,15992.0,15900.0,15133.0,13962.0,12071.0,12953.0,12696.0,12493.0,...,9089.0,8493.0,7929.0,7968.0,9259.0,9702.0,13662.0,12189.0,10918.0,LAUMT1614260000000
642,LAUMT161426000000005,Employment,245580.0,247504.0,248041.0,246591.0,249615.0,251204.0,252326.0,249914.0,...,357093.0,355391.0,354929.0,353694.0,356136.0,356280.0,354258.0,358262.0,359395.0,LAUMT1614260000000
643,LAUMT161426000000006,Total Labor Force,261572.0,263404.0,263174.0,260553.0,261686.0,264157.0,265022.0,262407.0,...,366182.0,363884.0,362858.0,361662.0,365395.0,365982.0,367920.0,370451.0,370313.0,LAUMT1614260000000
644,LAUMT191118000000003,Unemployment Rate,2.7,2.5,2.6,2.4,2.2,2.9,2.8,2.7,...,1.8,1.7,1.4,1.1,1.2,1.5,1.9,1.4,1.5,LAUMT1911180000000
645,LAUMT191118000000004,Unemployment,1251.0,1227.0,1257.0,1183.0,1084.0,1367.0,1266.0,1250.0,...,995.0,937.0,828.0,634.0,717.0,868.0,1109.0,857.0,892.0,LAUMT1911180000000
646,LAUMT191118000000005,Employment,45248.0,46920.0,47260.0,47485.0,47870.0,46197.0,44594.0,45030.0,...,54019.0,54955.0,58342.0,59323.0,58893.0,57702.0,56379.0,59405.0,59565.0,LAUMT1911180000000
647,LAUMT191118000000006,Total Labor Force,46499.0,48147.0,48517.0,48668.0,48954.0,47564.0,45860.0,46280.0,...,55014.0,55892.0,59170.0,59957.0,59610.0,58570.0,57488.0,60262.0,60457.0,LAUMT1911180000000
648,LAUMT191630000000003,Unemployment Rate,5.0,4.9,4.8,4.3,3.9,4.3,4.1,4.8,...,2.6,2.6,2.3,2.1,2.2,2.7,3.5,2.9,2.9,LAUMT1916300000000
649,LAUMT191630000000004,Unemployment,6917.0,6824.0,6703.0,6155.0,5537.0,6157.0,5817.0,6709.0,...,3770.0,3760.0,3332.0,2988.0,3102.0,3903.0,5000.0,4171.0,4217.0,LAUMT1916300000000
650,LAUMT191630000000005,Employment,131607.0,133503.0,134296.0,135694.0,135676.0,136026.0,135102.0,133527.0,...,141264.0,139405.0,139422.0,140344.0,139382.0,138267.0,138115.0,139627.0,140703.0,LAUMT1916300000000
651,LAUMT191630000000006,Total Labor Force,138524.0,140327.0,140999.0,141849.0,141213.0,142183.0,140919.0,140236.0,...,145034.0,143165.0,142754.0,143332.0,142484.0,142170.0,143115.0,143798.0,144920.0,LAUMT1916300000000
652,LAUMT191978000000003,Unemployment Rate,4.1,4.0,4.0,3.5,3.1,3.6,3.4,3.4,...,2.3,2.3,2.0,1.9,1.9,2.4,3.2,2.7,2.8,LAUMT1919780000000
653,LAUMT191978000000004,Unemployment,11575.0,11473.0,11489.0,10144.0,9170.0,10774.0,9979.0,10008.0,...,8332.0,8073.0,7190.0,6693.0,6602.0,8573.0,11272.0,9739.0,10044.0,LAUMT1919780000000
654,LAUMT191978000000005,Employment,270878.0,274572.0,276368.0,280244.0,283308.0,287048.0,287401.0,284793.0,...,352004.0,348040.0,344540.0,349207.0,346848.0,345447.0,346095.0,349668.0,352279.0,LAUMT1919780000000
655,LAUMT191978000000006,Total Labor Force,282453.0,286045.0,287857.0,290388.0,292478.0,297822.0,297380.0,294801.0,...,360336.0,356113.0,351730.0,355900.0,353450.0,354020.0,357367.0,359407.0,362323.0,LAUMT1919780000000
656,LAUMT192698000000003,Unemployment Rate,3.2,3.0,2.9,2.7,2.5,3.1,2.9,2.9,...,2.0,2.0,1.7,1.5,1.5,1.9,2.3,1.8,1.9,LAUMT1926980000000
657,LAUMT192698000000004,Unemployment,2597.0,2490.0,2480.0,2338.0,2120.0,2567.0,2401.0,2459.0,...,1987.0,1938.0,1696.0,1426.0,1476.0,1782.0,2193.0,1795.0,1844.0,LAUMT1926980000000
658,LAUMT192698000000005,Employment,79482.0,81297.0,82121.0,82751.0,82827.0,81220.0,81658.0,81297.0,...,95470.0,95352.0,95259.0,96358.0,95717.0,94253.0,94477.0,96018.0,96830.0,LAUMT1926980000000
659,LAUMT192698000000006,Total Labor Force,82079.0,83787.0,84601.0,85089.0,84947.0,83787.0,84059.0,83756.0,...,97457.0,97290.0,96955.0,97784.0,97193.0,96035.0,96670.0,97813.0,98674.0,LAUMT1926980000000
660,LAUMT171934000000003,Unemployment Rate,6.4,5.8,5.7,5.0,4.7,5.0,4.8,4.8,...,3.9,4.0,3.9,4.0,3.7,4.7,5.5,4.8,4.9,LAUMT1719340000000
661,LAUMT171934000000004,Unemployment,12383.0,11278.0,11148.0,9822.0,9270.0,10057.0,9556.0,9470.0,...,7589.0,7717.0,7479.0,7701.0,7129.0,8983.0,10555.0,9222.0,9489.0,LAUMT1719340000000
662,LAUMT171934000000005,Employment,181275.0,183811.0,185426.0,186679.0,188385.0,191263.0,189999.0,188194.0,...,186946.0,183769.0,183879.0,185585.0,184805.0,183311.0,181247.0,182372.0,184247.0,LAUMT1719340000000
663,LAUMT171934000000006,Total Labor Force,193658.0,195089.0,196574.0,196501.0,197655.0,201320.0,199555.0,197664.0,...,194535.0,191486.0,191358.0,193286.0,191934.0,192294.0,191802.0,191594.0,193736.0,LAUMT1719340000000

In [93]:
merged=pd.merge(df,employment,on='Area_Code')
merged.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Jan 2002,Feb 2002,...,Jun 2018,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,5.2,5.4,...,4.2,3.8,3.7,3.3,3.4,3.0,3.2,3.9,3.6,3.4
1,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000004,Unemployment,27274.0,28075.0,...,23138.0,20721.0,20124.0,18060.0,18447.0,16618.0,17366.0,21438.0,19591.0,18875.0
2,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000005,Employment,494684.0,496008.0,...,525729.0,527122.0,522526.0,523524.0,530206.0,531460.0,531358.0,526601.0,531358.0,535594.0
3,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000006,Total Labor Force,521958.0,524083.0,...,548867.0,547843.0,542650.0,541584.0,548653.0,548078.0,548724.0,548039.0,550949.0,554469.0
4,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000003,Unemployment Rate,5.2,5.1,...,4.2,3.8,3.7,3.3,3.3,2.9,3.1,3.8,3.4,3.3

In [36]:
merged[merged['_merge']!='both']

Empty DataFrame
Columns: [record, lma_code, lma_fips, lma_title, two_digit, Area_Code, Series ID, Data Type, Jan
2002, Feb
2002, Mar
2002, Apr
2002, May
2002, Jun
2002, Jul
2002, Aug
2002, Sep
2002, Oct
2002, Nov
2002, Dec
2002, Jan
2003, Feb
2003, Mar
2003, Apr
2003, May
2003, Jun
2003, Jul
2003, Aug
2003, Sep
2003, Oct
2003, Nov
2003, Dec
2003, Jan
2004, Feb
2004, Mar
2004, Apr
2004, May
2004, Jun
2004, Jul
2004, Aug
2004, Sep
2004, Oct
2004, Nov
2004, Dec
2004, Jan
2005, Feb
2005, Mar
2005, Apr
2005, May
2005, Jun
2005, Jul
2005, Aug
2005, Sep
2005, Oct
2005, Nov
2005, Dec
2005, Jan
2006, Feb
2006, Mar
2006, Apr
2006, May
2006, Jun
2006, Jul
2006, Aug
2006, Sep
2006, Oct
2006, Nov
2006, Dec
2006, Jan
2007, Feb
2007, Mar
2007, Apr
2007, May
2007, Jun
2007, Jul
2007, Aug
2007, Sep
2007, Oct
2007, Nov
2007, Dec
2007, Jan
2008, Feb
2008, Mar
2008, Apr
2008, May
2008, Jun
2008, Jul
2008, Aug
2008, Sep
2008, Oct
2008, Nov
2008, Dec
2008, Jan
2009, Feb
2009, Mar
2009, Apr
2009, May
2009, Jun
2009, Jul
2009, Aug
2009, ...]
Index: []

[0 rows x 216 columns]

In [94]:
unemployment_rate=merged[merged['Data Type']=='Unemployment Rate']
unemployment_rate.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Jan 2002,Feb 2002,...,Jun 2018,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,5.2,5.4,...,4.2,3.8,3.7,3.3,3.4,3.0,3.2,3.9,3.6,3.4
4,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000003,Unemployment Rate,5.2,5.1,...,4.2,3.8,3.7,3.3,3.3,2.9,3.1,3.8,3.4,3.3
8,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000003,Unemployment Rate,7.2,6.9,...,5.4,5.2,4.9,4.4,4.3,3.9,4.2,5.2,5.0,4.5
12,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000003,Unemployment Rate,5.5,5.5,...,4.5,4.2,4.1,3.7,3.7,3.4,3.6,4.3,3.9,3.7
16,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000003,Unemployment Rate,6.3,6.7,...,6.2,5.7,5.4,5.6,5.6,5.6,5.6,6.3,6.5,6.3

In [95]:
unemployment_labor=merged[merged['Data Type']=='Unemployment ']
employment_labor=merged[merged['Data Type']=='Employment']
total_labor=merged[merged['Data Type']=='Total Labor Force']

In [77]:
test=unemployment_rate.head()

In [92]:
unemployment_labor.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Jan 2002,Feb 2002,...,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019,_merge
1,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000004,Unemployment,27274.0,28075.0,...,20721.0,20124.0,18060.0,18447.0,16618.0,17366.0,21438.0,19591.0,18875.0,both
5,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000004,Unemployment,9275.0,9182.0,...,8494.0,8111.0,7264.0,7441.0,6598.0,6829.0,8448.0,7568.0,7434.0,both
9,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000004,Unemployment,12858.0,12424.0,...,9817.0,9102.0,8194.0,8147.0,7367.0,7938.0,9788.0,9377.0,8619.0,both
13,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000004,Unemployment,8817.0,8900.0,...,7298.0,7111.0,6315.0,6430.0,5773.0,6105.0,7311.0,6707.0,6444.0,both
17,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000004,Unemployment,11059.0,11606.0,...,11348.0,10598.0,11023.0,11106.0,11379.0,11233.0,12520.0,12683.0,12457.0,both

In [79]:
test2=pd.melt(test, id_vars=list(test)[0:8], value_vars=list(merged)[9:],var_name='Month-Year',
       value_name='Unemployment_Rate')

In [82]:
test2['Month-Year']=test2['Month-Year'].apply(lambda x: x.replace("\\n",""))
test2

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Unemployment_Rate
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
1,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
2,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
3,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
4,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
5,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1
6,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1
7,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1
8,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1
9,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1
10,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5
11,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5
12,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5
13,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5
14,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5
15,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4
16,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4
17,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4
18,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4
19,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4
20,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4
21,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4
22,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4
23,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4
24,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4
25,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2
26,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2
27,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2
28,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2
29,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2
...,...,...,...,...,...,...,...,...,...,...
1000,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4
1001,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4
1002,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4
1003,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4
1004,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4
1005,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0
1006,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0
1007,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0
1008,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0
1009,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0
1010,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2
1011,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2
1012,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2
1013,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2
1014,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2
1015,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9
1016,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9
1017,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9
1018,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9
1019,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9
1020,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6
1021,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6
1022,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6
1023,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6
1024,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6
1025,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4
1026,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4
1027,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4
1028,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4
1029,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4

In [83]:
import datetime
test2['DateTime']=pd.to_datetime(test2['Month-Year'])
test2

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Unemployment_Rate,DateTime
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4,2002-02-01
1,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4,2002-02-01
2,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4,2002-02-01
3,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4,2002-02-01
4,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4,2002-02-01
5,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1,2002-03-01
6,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1,2002-03-01
7,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1,2002-03-01
8,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1,2002-03-01
9,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2002,5.1,2002-03-01
10,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5,2002-04-01
11,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5,2002-04-01
12,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5,2002-04-01
13,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5,2002-04-01
14,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Apr\n2002,4.5,2002-04-01
15,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4,2002-05-01
16,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4,2002-05-01
17,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4,2002-05-01
18,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4,2002-05-01
19,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,May\n2002,4.4,2002-05-01
20,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4,2002-06-01
21,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4,2002-06-01
22,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4,2002-06-01
23,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4,2002-06-01
24,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jun\n2002,5.4,2002-06-01
25,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2,2002-07-01
26,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2,2002-07-01
27,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2,2002-07-01
28,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2,2002-07-01
29,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jul\n2002,5.2,2002-07-01
...,...,...,...,...,...,...,...,...,...,...,...
1000,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4,2018-10-01
1001,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4,2018-10-01
1002,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4,2018-10-01
1003,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4,2018-10-01
1004,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Oct\n2018,3.4,2018-10-01
1005,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0,2018-11-01
1006,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0,2018-11-01
1007,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0,2018-11-01
1008,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0,2018-11-01
1009,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Nov\n2018,3.0,2018-11-01
1010,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2,2018-12-01
1011,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2,2018-12-01
1012,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2,2018-12-01
1013,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2,2018-12-01
1014,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Dec\n2018,3.2,2018-12-01
1015,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9,2019-01-01
1016,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9,2019-01-01
1017,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9,2019-01-01
1018,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9,2019-01-01
1019,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Jan\n2019,3.9,2019-01-01
1020,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6,2019-02-01
1021,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6,2019-02-01
1022,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6,2019-02-01
1023,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6,2019-02-01
1024,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2019,3.6,2019-02-01
1025,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4,2019-03-01
1026,7,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4,2019-03-01
1027,8,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4,2019-03-01
1028,9,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4,2019-03-01
1029,10,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Mar\n2019,3.4,2019-03-01

In [96]:
df_unemployment=pd.melt(unemployment_rate, id_vars=list(unemployment_rate)[0:8], value_vars=list(unemployment_rate)[9:],var_name='Month-Year',
       value_name='Unemployment_Rate')
df_unemployment.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Unemployment_Rate
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000003,Unemployment Rate,Feb\n2002,5.4
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000003,Unemployment Rate,Feb\n2002,5.1
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000003,Unemployment Rate,Feb\n2002,6.9
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000003,Unemployment Rate,Feb\n2002,5.5
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000003,Unemployment Rate,Feb\n2002,6.7

In [97]:
df_unemployment_labor=pd.melt(unemployment_labor, id_vars=list(unemployment_labor)[0:8], value_vars=list(unemployment_labor)[9:],var_name='Month-Year',
       value_name='Unemployment_Labor')
df_unemployment_labor

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Unemployment_Labor
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000004,Unemployment,Feb\n2002,28075.0
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000004,Unemployment,Feb\n2002,9182.0
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000004,Unemployment,Feb\n2002,12424.0
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000004,Unemployment,Feb\n2002,8900.0
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000004,Unemployment,Feb\n2002,11606.0
5,98,MT0422380000000,22380,"Flagstaff, AZ Metropolitan Statistical Area",MT,LAUMT0422380000000,LAUMT042238000000004,Unemployment,Feb\n2002,3591.0
6,153,MT0530780000000,30780,"Little Rock-North Little Rock-Conway, AR Metro...",MT,LAUMT0530780000000,LAUMT053078000000004,Unemployment,Feb\n2002,16371.0
7,189,MT0612540000000,12540,"Bakersfield, CA Metropolitan Statistical Area",MT,LAUMT0612540000000,LAUMT061254000000004,Unemployment,Feb\n2002,32697.0
8,191,MT0617020000000,17020,"Chico, CA Metropolitan Statistical Area",MT,LAUMT0617020000000,LAUMT061702000000004,Unemployment,Feb\n2002,7668.0
9,195,MT0620940000000,20940,"El Centro, CA Metropolitan Statistical Area",MT,LAUMT0620940000000,LAUMT062094000000004,Unemployment,Feb\n2002,6924.0
10,199,MT0625260000000,25260,"Hanford-Corcoran, CA Metropolitan Statistical ...",MT,LAUMT0625260000000,LAUMT062526000000004,Unemployment,Feb\n2002,6846.0
11,201,MT0631080000000,31080,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",MT,LAUMT0631080000000,LAUMT063108000000004,Unemployment,Feb\n2002,393401.0
12,205,MT0632900000000,32900,"Merced, CA Metropolitan Statistical Area",MT,LAUMT0632900000000,LAUMT063290000000004,Unemployment,Feb\n2002,12820.0
13,206,MT0633700000000,33700,"Modesto, CA Metropolitan Statistical Area",MT,LAUMT0633700000000,LAUMT063370000000004,Unemployment,Feb\n2002,23170.0
14,209,MT0634900000000,34900,"Napa, CA Metropolitan Statistical Area",MT,LAUMT0634900000000,LAUMT063490000000004,Unemployment,Feb\n2002,3068.0
15,210,MT0637100000000,37100,"Oxnard-Thousand Oaks-Ventura, CA Metropolitan ...",MT,LAUMT0637100000000,LAUMT063710000000004,Unemployment,Feb\n2002,21709.0
16,213,MT0639820000000,39820,"Redding, CA Metropolitan Statistical Area",MT,LAUMT0639820000000,LAUMT063982000000004,Unemployment,Feb\n2002,6542.0
17,220,MT0641500000000,41500,"Salinas, CA Metropolitan Statistical Area",MT,LAUMT0641500000000,LAUMT064150000000004,Unemployment,Feb\n2002,26025.0
18,222,MT0641860000000,41860,"San Francisco-Oakland-Hayward, CA Metropolitan...",MT,LAUMT0641860000000,LAUMT064186000000004,Unemployment,Feb\n2002,135902.0
19,230,MT0642100000000,42100,"Santa Cruz-Watsonville, CA Metropolitan Statis...",MT,LAUMT0642100000000,LAUMT064210000000004,Unemployment,Feb\n2002,13392.0
20,231,MT0642200000000,42200,"Santa Maria-Santa Barbara, CA Metropolitan Sta...",MT,LAUMT0642200000000,LAUMT064220000000004,Unemployment,Feb\n2002,10973.0
21,232,MT0642220000000,42220,"Santa Rosa, CA Metropolitan Statistical Area",MT,LAUMT0642220000000,LAUMT064222000000004,Unemployment,Feb\n2002,12967.0
22,236,MT0644700000000,44700,"Stockton-Lodi, CA Metropolitan Statistical Area",MT,LAUMT0644700000000,LAUMT064470000000004,Unemployment,Feb\n2002,26557.0
23,241,MT0646700000000,46700,"Vallejo-Fairfield, CA Metropolitan Statistical...",MT,LAUMT0646700000000,LAUMT064670000000004,Unemployment,Feb\n2002,11337.0
24,243,MT0649700000000,49700,"Yuba City, CA Metropolitan Statistical Area",MT,LAUMT0649700000000,LAUMT064970000000004,Unemployment,Feb\n2002,7876.0
25,255,MT0817820000000,17820,"Colorado Springs, CO Metropolitan Statistical ...",MT,LAUMT0817820000000,LAUMT081782000000004,Unemployment,Feb\n2002,17648.0
26,274,MT0822660000000,22660,"Fort Collins, CO Metropolitan Statistical Area",MT,LAUMT0822660000000,LAUMT082266000000004,Unemployment,Feb\n2002,7336.0
27,453,MT2578100000000,78100,"Springfield, MA-CT Metropolitan NECTA",MT,LAUMT2578100000000,LAUMT257810000000004,Unemployment,Feb\n2002,17920.0
28,479,MT4237980000000,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",MT,LAUMT4237980000000,LAUMT423798000000004,Unemployment,Feb\n2002,160074.0
29,481,MT1147900000000,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",MT,LAUMT1147900000000,LAUMT114790000000004,Unemployment,Feb\n2002,116170.0
...,...,...,...,...,...,...,...,...,...,...
34166,3939,MT4828660000000,28660,"Killeen-Temple, TX Metropolitan Statistical Area",MT,LAUMT4828660000000,LAUMT482866000000004,Unemployment,Mar\n2019,6750.0
34167,3951,MT4829700000000,29700,"Laredo, TX Metropolitan Statistical Area",MT,LAUMT4829700000000,LAUMT482970000000004,Unemployment,Mar\n2019,4481.0
34168,3963,MT4831180000000,31180,"Lubbock, TX Metropolitan Statistical Area",MT,LAUMT4831180000000,LAUMT483118000000004,Unemployment,Mar\n2019,5108.0
34169,4010,MT4841660000000,41660,"San Angelo, TX Metropolitan Statistical Area",MT,LAUMT4841660000000,LAUMT484166000000004,Unemployment,Mar\n2019,1715.0
34170,4012,MT4841700000000,41700,"San Antonio-New Braunfels, TX Metropolitan Sta...",MT,LAUMT4841700000000,LAUMT484170000000004,Unemployment,Mar\n2019,37577.0
34171,4049,MT4847380000000,47380,"Waco, TX Metropolitan Statistical Area",MT,LAUMT4847380000000,LAUMT484738000000004,Unemployment,Mar\n2019,4287.0
34172,4084,MT4941620000000,41620,"Salt Lake City, UT Metropolitan Statistical Area",MT,LAUMT4941620000000,LAUMT494162000000004,Unemployment,Mar\n2019,19482.0
34173,4134,MT5072400000000,72400,"Burlington-South Burlington, VT Metropolitan N...",MT,LAUMT5072400000000,LAUMT507240000000004,Unemployment,Mar\n2019,2226.0
34174,4351,MT5113980000000,13980,"Blacksburg-Christiansburg-Radford, VA Metropol...",MT,LAUMT5113980000000,LAUMT511398000000004,Unemployment,Mar\n2019,2874.0
34175,4376,MT5125500000000,25500,"Harrisonburg, VA Metropolitan Statistical Area",MT,LAUMT5125500000000,LAUMT512550000000004,Unemployment,Mar\n2019,1976.0
34176,4388,MT5131340000000,31340,"Lynchburg, VA Metropolitan Statistical Area",MT,LAUMT5131340000000,LAUMT513134000000004,Unemployment,Mar\n2019,4301.0
34177,4407,MT5140060000000,40060,"Richmond, VA Metropolitan Statistical Area",MT,LAUMT5140060000000,LAUMT514006000000004,Unemployment,Mar\n2019,21713.0
34178,4424,MT5140220000000,40220,"Roanoke, VA Metropolitan Statistical Area",MT,LAUMT5140220000000,LAUMT514022000000004,Unemployment,Mar\n2019,4774.0
34179,4478,MT5313380000000,13380,"Bellingham, WA Metropolitan Statistical Area",MT,LAUMT5313380000000,LAUMT531338000000004,Unemployment,Mar\n2019,6066.0
34180,4479,MT5314740000000,14740,"Bremerton-Silverdale, WA Metropolitan Statisti...",MT,LAUMT5314740000000,LAUMT531474000000004,Unemployment,Mar\n2019,6625.0
34181,4485,MT5328420000000,28420,"Kennewick-Richland, WA Metropolitan Statistica...",MT,LAUMT5328420000000,LAUMT532842000000004,Unemployment,Mar\n2019,10251.0
34182,4490,MT5331020000000,31020,"Longview, WA Metropolitan Statistical Area",MT,LAUMT5331020000000,LAUMT533102000000004,Unemployment,Mar\n2019,3162.0
34183,4492,MT5334580000000,34580,"Mount Vernon-Anacortes, WA Metropolitan Statis...",MT,LAUMT5334580000000,LAUMT533458000000004,Unemployment,Mar\n2019,3636.0
34184,4495,MT5336500000000,36500,"Olympia-Tumwater, WA Metropolitan Statistical ...",MT,LAUMT5336500000000,LAUMT533650000000004,Unemployment,Mar\n2019,7638.0
34185,4503,MT5342660000000,42660,"Seattle-Tacoma-Bellevue, WA Metropolitan Stati...",MT,LAUMT5342660000000,LAUMT534266000000004,Unemployment,Mar\n2019,89628.0
34186,4507,MT5344060000000,44060,"Spokane-Spokane Valley, WA Metropolitan Statis...",MT,LAUMT5344060000000,LAUMT534406000000004,Unemployment,Mar\n2019,18971.0
34187,4513,MT5348300000000,48300,"Wenatchee, WA Metropolitan Statistical Area",MT,LAUMT5348300000000,LAUMT534830000000004,Unemployment,Mar\n2019,4273.0
34188,4515,MT5349420000000,49420,"Yakima, WA Metropolitan Statistical Area",MT,LAUMT5349420000000,LAUMT534942000000004,Unemployment,Mar\n2019,12056.0
34189,4572,MT5511540000000,11540,"Appleton, WI Metropolitan Statistical Area",MT,LAUMT5511540000000,LAUMT551154000000004,Unemployment,Mar\n2019,3704.0
34190,4586,MT5520740000000,20740,"Eau Claire, WI Metropolitan Statistical Area",MT,LAUMT5520740000000,LAUMT552074000000004,Unemployment,Mar\n2019,3173.0
34191,4591,MT5524580000000,24580,"Green Bay, WI Metropolitan Statistical Area",MT,LAUMT5524580000000,LAUMT552458000000004,Unemployment,Mar\n2019,5293.0
34192,4602,MT5531540000000,31540,"Madison, WI Metropolitan Statistical Area",MT,LAUMT5531540000000,LAUMT553154000000004,Unemployment,Mar\n2019,9439.0
34193,4619,MT5536780000000,36780,"Oshkosh-Neenah, WI Metropolitan Statistical Area",MT,LAUMT5536780000000,LAUMT553678000000004,Unemployment,Mar\n2019,2501.0
34194,4624,MT5539540000000,39540,"Racine, WI Metropolitan Statistical Area",MT,LAUMT5539540000000,LAUMT553954000000004,Unemployment,Mar\n2019,3920.0
34195,4630,MT5543100000000,43100,"Sheboygan, WI Metropolitan Statistical Area",MT,LAUMT5543100000000,LAUMT554310000000004,Unemployment,Mar\n2019,1614.0

In [98]:
df_employment_labor=pd.melt(employment_labor, id_vars=list(employment_labor)[0:8], value_vars=list(employment_labor)[9:],var_name='Month-Year',
       value_name='employment_Labor')
df_employment_labor.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,employment_Labor
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000005,Employment,Feb\n2002,496008.0
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000005,Employment,Feb\n2002,171510.0
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000005,Employment,Feb\n2002,168202.0
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000005,Employment,Feb\n2002,153151.0
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000005,Employment,Feb\n2002,162486.0

In [99]:
total_labor.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Jan 2002,Feb 2002,...,Jun 2018,Jul 2018,Aug 2018,Sep 2018,Oct 2018,Nov 2018,Dec 2018,Jan 2019,Feb 2019,Mar 2019
3,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000006,Total Labor Force,521958.0,524083.0,...,548867.0,547843.0,542650.0,541584.0,548653.0,548078.0,548724.0,548039.0,550949.0,554469.0
7,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000006,Total Labor Force,180075.0,180692.0,...,222948.0,222981.0,220420.0,220217.0,224628.0,224908.0,223518.0,223645.0,225322.0,226539.0
11,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000006,Total Labor Force,179615.0,180626.0,...,188827.0,188117.0,185812.0,186204.0,188386.0,187958.0,188116.0,188055.0,189297.0,189789.0
15,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000006,Total Labor Force,161551.0,162051.0,...,174513.0,173683.0,171709.0,171053.0,172359.0,171846.0,171866.0,171843.0,173468.0,174174.0
19,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000006,Total Labor Force,175134.0,174092.0,...,200753.0,199947.0,196460.0,197327.0,199196.0,201422.0,201055.0,197686.0,196007.0,196336.0

In [100]:
df_total_labor=pd.melt(total_labor, id_vars=list(total_labor)[0:8], value_vars=list(total_labor)[9:],var_name='Month-Year',
       value_name='Total_Labor')
df_total_labor.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Total_Labor
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000006,Total Labor Force,Feb\n2002,524083.0
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000006,Total Labor Force,Feb\n2002,180692.0
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000006,Total Labor Force,Feb\n2002,180626.0
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000006,Total Labor Force,Feb\n2002,162051.0
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000006,Total Labor Force,Feb\n2002,174092.0

In [101]:
df_total_labor=df_total_labor.drop_duplicates(['Series ID','Month-Year'])
df_unemployment_labor=df_unemployment_labor.drop_duplicates(['Series ID','Month-Year'])
df_employment_labor=df_employment_labor.drop_duplicates(['Series ID','Month-Year'])
df_unemployment=df_unemployment.drop_duplicates(['Series ID','Month-Year'])

In [102]:
df_unemployment_labor.head()

,record,lma_code,lma_fips,lma_title,two_digit,Area_Code,Series ID,Data Type,Month-Year,Unemployment_Labor
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000004,Unemployment,Feb\n2002,28075.0
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000004,Unemployment,Feb\n2002,9182.0
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000004,Unemployment,Feb\n2002,12424.0
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000004,Unemployment,Feb\n2002,8900.0
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000004,Unemployment,Feb\n2002,11606.0

In [48]:
new_df = pd.merge(df_total_labor, df_unemployment_labor,  how='left', 
                  left_on=['record','lma_code','lma_fips','lma_title','Area_Code','Month-Year'],
                 right_on=['record','lma_code','lma_fips','lma_title','Area_Code','Month-Year'])

In [49]:
new_df.head()

,record,lma_code,lma_fips,lma_title,two_digit_x,Area_Code,Series ID_x,Data Type_x,Month-Year,Total_Labor,two_digit_y,Series ID_y,Data Type_y,Unemployment_Labor
0,6,MT0113820000000,13820,"Birmingham-Hoover, AL Metropolitan Statistical...",MT,LAUMT0113820000000,LAUMT011382000000006,Total Labor Force,Feb\n2002,524083,MT,LAUMT011382000000004,Unemployment,28075
1,40,MT0126620000000,26620,"Huntsville, AL Metropolitan Statistical Area",MT,LAUMT0126620000000,LAUMT012662000000006,Total Labor Force,Feb\n2002,180692,MT,LAUMT012662000000004,Unemployment,9182
2,46,MT0133660000000,33660,"Mobile, AL Metropolitan Statistical Area",MT,LAUMT0133660000000,LAUMT013366000000006,Total Labor Force,Feb\n2002,180626,MT,LAUMT013366000000004,Unemployment,12424
3,48,MT0133860000000,33860,"Montgomery, AL Metropolitan Statistical Area",MT,LAUMT0133860000000,LAUMT013386000000006,Total Labor Force,Feb\n2002,162051,MT,LAUMT013386000000004,Unemployment,8900
4,70,MT0211260000000,11260,"Anchorage, AK Metropolitan Statistical Area",MT,LAUMT0211260000000,LAUMT021126000000006,Total Labor Force,Feb\n2002,174092,MT,LAUMT021126000000004,Unemployment,11606

In [68]:
list(df_unemployment_labor)

['Unnamed: 0',
 'record',
 'lma_title',
 'Area_Code',
 'Series ID',
 'Month-Year',
 'Unemployment_Labor']

In [110]:
#df_unemployment_labor=df_unemployment_labor.drop(columns=['lma_code','lma_fips','two_digit',
#                                                 'Data Type'])
df_unemployment_labor=df_unemployment_labor.drop(columns=['Unnamed: 0','Series ID'])

In [105]:
df_employment_labor=df_employment_labor.drop(columns=['lma_code','lma_fips','two_digit',
                                                'Data Type'])
df_unemployment=df_unemployment.drop(columns=['lma_code','lma_fips','two_digit',
                                                'Data Type'])

In [111]:
df_employment_labor=df_employment_labor.drop(columns=['Unnamed: 0','Series ID'])
df_unemployment=df_unemployment.drop(columns=['Unnamed: 0','Series ID'])
df_total_labor=df_total_labor.drop(columns=['Unnamed: 0','Series ID'])

In [106]:
df_total_labor=df_total_labor.drop(columns=['lma_code','lma_fips','two_digit',
                                                'Data Type'])

In [107]:
df_unemployment.to_csv('df_unemployment.csv')
df_unemployment_labor.to_csv('df_unemployment_labor.csv')
df_employment_labor.to_csv('df_emoyment_labor.csv')
df_total_labor.to_csv('df_total_labor.csv')

In [108]:
df_unemployment=pd.read_csv('df_unemployment.csv',encoding='utf-8')
df_unemployment_labor=pd.read_csv('df_unemployment_labor.csv',encoding='utf-8')
df_employment_labor=pd.read_csv('df_emoyment_labor.csv',encoding='utf-8')
df_total_labor=pd.read_csv('df_total_labor.csv',encoding='utf-8')

In [75]:
len(df_total_labor)

34362

In [112]:
merged_1=pd.merge(df_total_labor,df_unemployment_labor,on=['record','lma_title','Area_Code','Month-Year'])
merged_1.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0

In [77]:
len(merged_1)

34362

In [113]:
merged_2=pd.merge(merged_1,df_employment_labor,on=['record','lma_title','Area_Code','Month-Year'])
merged_2.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0

In [114]:
merged_3=pd.merge(merged_2,df_unemployment,on=['record','lma_title','Area_Code','Month-Year'])
merged_3.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0,5.4
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0,5.1
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0,6.9
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0,5.5
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0,6.7

In [115]:
employment_final=merged_3
#.drop(columns=['Series ID_x','Series ID_y'])
employment_final.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0,5.4
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0,5.1
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0,6.9
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0,5.5
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0,6.7

In [116]:
employment_final['Month-Year'].describe()

count         34196
unique          206
top       Jul\n2014
freq            166
Name: Month-Year, dtype: object

In [117]:
#mystring = mystring.replace('\n', ' ').replace('\r', '')
employment_final['MonthYearText']=employment_final['Month-Year'].apply(lambda x: x.replace('\n',''))
employment_final.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,MonthYearText
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0,5.4,Feb2002
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0,5.1,Feb2002
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0,6.9,Feb2002
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0,5.5,Feb2002
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0,6.7,Feb2002

In [118]:
df_total_labor[df_total_labor['Month-Year']=='_merge']

Empty DataFrame
Columns: [record, lma_title, Area_Code, Month-Year, Total_Labor]
Index: []

In [119]:
employment_final['Year']=employment_final['MonthYearText'].apply(lambda x: pd.to_datetime(x).year)
employment_final.head()

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,MonthYearText,Year
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0,5.4,Feb2002,2002
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0,5.1,Feb2002,2002
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0,6.9,Feb2002,2002
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0,5.5,Feb2002,2002
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0,6.7,Feb2002,2002

In [120]:
employment_final['Month']=employment_final['MonthYearText'].apply(lambda x: pd.to_datetime(x).month)
employment_final

,record,lma_title,Area_Code,Month-Year,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,MonthYearText,Year,Month
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,Feb\n2002,524083.0,28075.0,496008.0,5.4,Feb2002,2002,2
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,Feb\n2002,180692.0,9182.0,171510.0,5.1,Feb2002,2002,2
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,Feb\n2002,180626.0,12424.0,168202.0,6.9,Feb2002,2002,2
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,Feb\n2002,162051.0,8900.0,153151.0,5.5,Feb2002,2002,2
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,Feb\n2002,174092.0,11606.0,162486.0,6.7,Feb2002,2002,2
5,98,"Flagstaff, AZ Metropolitan Statistical Area",LAUMT0422380000000,Feb\n2002,63936.0,3591.0,60345.0,5.6,Feb2002,2002,2
6,153,"Little Rock-North Little Rock-Conway, AR Metro...",LAUMT0530780000000,Feb\n2002,309443.0,16371.0,293072.0,5.3,Feb2002,2002,2
7,189,"Bakersfield, CA Metropolitan Statistical Area",LAUMT0612540000000,Feb\n2002,297826.0,32697.0,265129.0,11.0,Feb2002,2002,2
8,191,"Chico, CA Metropolitan Statistical Area",LAUMT0617020000000,Feb\n2002,97125.0,7668.0,89457.0,7.9,Feb2002,2002,2
9,195,"El Centro, CA Metropolitan Statistical Area",LAUMT0620940000000,Feb\n2002,56878.0,6924.0,49954.0,12.2,Feb2002,2002,2
10,199,"Hanford-Corcoran, CA Metropolitan Statistical ...",LAUMT0625260000000,Feb\n2002,50674.0,6846.0,43828.0,13.5,Feb2002,2002,2
11,201,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",LAUMT0631080000000,Feb\n2002,6308761.0,393401.0,5915360.0,6.2,Feb2002,2002,2
12,205,"Merced, CA Metropolitan Statistical Area",LAUMT0632900000000,Feb\n2002,94492.0,12820.0,81672.0,13.6,Feb2002,2002,2
13,206,"Modesto, CA Metropolitan Statistical Area",LAUMT0633700000000,Feb\n2002,215086.0,23170.0,191916.0,10.8,Feb2002,2002,2
14,209,"Napa, CA Metropolitan Statistical Area",LAUMT0634900000000,Feb\n2002,69662.0,3068.0,66594.0,4.4,Feb2002,2002,2
15,210,"Oxnard-Thousand Oaks-Ventura, CA Metropolitan ...",LAUMT0637100000000,Feb\n2002,406546.0,21709.0,384837.0,5.3,Feb2002,2002,2
16,213,"Redding, CA Metropolitan Statistical Area",LAUMT0639820000000,Feb\n2002,78615.0,6542.0,72073.0,8.3,Feb2002,2002,2
17,220,"Salinas, CA Metropolitan Statistical Area",LAUMT0641500000000,Feb\n2002,202166.0,26025.0,176141.0,12.9,Feb2002,2002,2
18,222,"San Francisco-Oakland-Hayward, CA Metropolitan...",LAUMT0641860000000,Feb\n2002,2264488.0,135902.0,2128586.0,6.0,Feb2002,2002,2
19,230,"Santa Cruz-Watsonville, CA Metropolitan Statis...",LAUMT0642100000000,Feb\n2002,147918.0,13392.0,134526.0,9.1,Feb2002,2002,2
20,231,"Santa Maria-Santa Barbara, CA Metropolitan Sta...",LAUMT0642200000000,Feb\n2002,203221.0,10973.0,192248.0,5.4,Feb2002,2002,2
21,232,"Santa Rosa, CA Metropolitan Statistical Area",LAUMT0642220000000,Feb\n2002,257675.0,12967.0,244708.0,5.0,Feb2002,2002,2
22,236,"Stockton-Lodi, CA Metropolitan Statistical Area",LAUMT0644700000000,Feb\n2002,271577.0,26557.0,245020.0,9.8,Feb2002,2002,2
23,241,"Vallejo-Fairfield, CA Metropolitan Statistical...",LAUMT0646700000000,Feb\n2002,200194.0,11337.0,188857.0,5.7,Feb2002,2002,2
24,243,"Yuba City, CA Metropolitan Statistical Area",LAUMT0649700000000,Feb\n2002,63216.0,7876.0,55340.0,12.5,Feb2002,2002,2
25,255,"Colorado Springs, CO Metropolitan Statistical ...",LAUMT0817820000000,Feb\n2002,283974.0,17648.0,266326.0,6.2,Feb2002,2002,2
26,274,"Fort Collins, CO Metropolitan Statistical Area",LAUMT0822660000000,Feb\n2002,151123.0,7336.0,143787.0,4.9,Feb2002,2002,2
27,453,"Springfield, MA-CT Metropolitan NECTA",LAUMT2578100000000,Feb\n2002,366322.0,17920.0,348402.0,4.9,Feb2002,2002,2
28,479,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",LAUMT4237980000000,Feb\n2002,2895631.0,160074.0,2735557.0,5.5,Feb2002,2002,2
29,481,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",LAUMT1147900000000,Feb\n2002,2753752.0,116170.0,2637582.0,4.2,Feb2002,2002,2
...,...,...,...,...,...,...,...,...,...,...,...
34166,3939,"Killeen-Temple, TX Metropolitan Statistical Area",LAUMT4828660000000,Mar\n2019,178422.0,6750.0,171672.0,3.8,Mar2019,2019,3
34167,3951,"Laredo, TX Metropolitan Statistical Area",LAUMT4829700000000,Mar\n2019,118470.0,4481.0,113989.0,3.8,Mar2019,2019,3
34168,3963,"Lubbock, TX Metropolitan Statistical Area",LAUMT4831180000000,Mar\n2019,164347.0,5108.0,159239.0,3.1,Mar2019,2019,3
34169,4010,"San Angelo, TX Metropolitan Statistical Area",LAUMT4841660000000,Mar\n2019,56146.0,1715.0,54431.0,3.1,Mar2019,2019,3
34170,4012,"San Antonio-New Braunfels, TX Metropolitan Sta...",LAUMT4841700000000,Mar\n2019,1208355.0,37577.0,1170778.0,3.1,Mar2019,2019,3
34171,4049,"Waco, TX Metropolitan Statistical Area",LAUMT4847380000000,Mar\n2019,126423.0,4287.0,122136.0,3.4,Mar2019,2019,3
34172,4084,"Salt Lake City, UT Metropolitan Statistical Area",LAUMT4941620000000,Mar\n2019,653688.0,19482.0,634206.0,3.0,Mar2019,2019,3
34173,4134,"Burlington-South Burlington, VT Metropolitan N...",LAUMT5072400000000,Mar\n2019,125874.0,2226.0,123648.0,1.8,Mar2019,2019,3
34174,4351,"Blacksburg-Christiansburg-Radford, VA Metropol...",LAUMT5113980000000,Mar\n2019,91087.0,2874.0,88213.0,3.2,Mar2019,2019,3
34175,4376,"Harrisonburg, VA Metropolitan Statistical Area",LAUMT5125500000000,Mar\n2019,66255.0,1976.0,64279.0,3.0,Mar2019,2019,3
34176,4388,"Lynchburg, VA Metropolitan Statistical Area",LAUMT5131340000000,Mar\n2019,123558.0,4301.0,119257.0,3.5,Mar2019,2019,3
34177,4407,"Richmond, VA Metropolitan Statistical Area",LAUMT5140060000000,Mar\n2019,680912.0,21713.0,659199.0,3.2,Mar2019,2019,3
34178,4424,"Roanoke, VA Metropolitan Statistical Area",LAUMT5140220000000,Mar\n2019,159111.0,4774.0,154337.0,3.0,Mar2019,2019,3
34179,4478,"Bellingham, WA Metropolitan Statistical Area",LAUMT5313380000000,Mar\n2019,115560.0,6066.0,109494.0,5.2,Mar2019,2019,3
34180,4479,"Bremerton-Silverdale, WA Metropolitan Statisti...",LAUMT5314740000000,Mar\n2019,126601.0,6625.0,119976.0,5.2,Mar2019,2019,3
34181,4485,"Kennewick-Richland, WA Metropolitan Statistica...",LAUMT5328420000000,Mar\n2019,144777.0,10251.0,134526.0,7.1,Mar2019,2019,3
34182,4490,"Longview, WA Metropolitan Statistical Area",LAUMT5331020000000,Mar\n2019,47028.0,3162.0,43866.0,6.7,Mar2019,2019,3
34183,4492,"Mount Vernon-Anacortes, WA Metropolitan Statis...",LAUMT5334580000000,Mar\n2019,61819.0,3636.0,58183.0,5.9,Mar2019,2019,3
34184,4495,"Olympia-Tumwater, WA Metropolitan Statistical ...",LAUMT5336500000000,Mar\n2019,142766.0,7638.0,135128.0,5.4,Mar2019,2019,3
34185,4503,"Seattle-Tacoma-Bellevue, WA Metropolitan Stati...",LAUMT5342660000000,Mar\n2019,2171580.0,89628.0,2081952.0,4.1,Mar2019,2019,3
34186,4507,"Spokane-Spokane Valley, WA Metropolitan Statis...",LAUMT5344060000000,Mar\n2019,279026.0,18971.0,260055.0,6.8,Mar2019,2019,3
34187,4513,"Wenatchee, WA Metropolitan Statistical Area",LAUMT5348300000000,Mar\n2019,65048.0,4273.0,60775.0,6.6,Mar2019,2019,3
34188,4515,"Yakima, WA Metropolitan Statistical Area",LAUMT5349420000000,Mar\n2019,130937.0,12056.0,118881.0,9.2,Mar2019,2019,3
34189,4572,"Appleton, WI Metropolitan Statistical Area",LAUMT5511540000000,Mar\n2019,130369.0,3704.0,126665.0,2.8,Mar2019,2019,3
34190,4586,"Eau Claire, WI Metropolitan Statistical Area",LAUMT5520740000000,Mar\n2019,93119.0,3173.0,89946.0,3.4,Mar2019,2019,3
34191,4591,"Green Bay, WI Metropolitan Statistical Area",LAUMT5524580000000,Mar\n2019,176099.0,5293.0,170806.0,3.0,Mar2019,2019,3
34192,4602,"Madison, WI Metropolitan Statistical Area",LAUMT5531540000000,Mar\n2019,387143.0,9439.0,377704.0,2.4,Mar2019,2019,3
34193,4619,"Oshkosh-Neenah, WI Metropolitan Statistical Area",LAUMT5536780000000,Mar\n2019,93084.0,2501.0,90583.0,2.7,Mar2019,2019,3
34194,4624,"Racine, WI Metropolitan Statistical Area",LAUMT5539540000000,Mar\n2019,99500.0,3920.0,95580.0,3.9,Mar2019,2019,3
34195,4630,"Sheboygan, WI Metropolitan Statistical Area",LAUMT5543100000000,Mar\n2019,62557.0,1614.0,60943.0,2.6,Mar2019,2019,3

In [121]:
employment_final=employment_final.drop(columns=['Month-Year'])
employment_final

,record,lma_title,Area_Code,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,MonthYearText,Year,Month
0,6,"Birmingham-Hoover, AL Metropolitan Statistical...",LAUMT0113820000000,524083.0,28075.0,496008.0,5.4,Feb2002,2002,2
1,40,"Huntsville, AL Metropolitan Statistical Area",LAUMT0126620000000,180692.0,9182.0,171510.0,5.1,Feb2002,2002,2
2,46,"Mobile, AL Metropolitan Statistical Area",LAUMT0133660000000,180626.0,12424.0,168202.0,6.9,Feb2002,2002,2
3,48,"Montgomery, AL Metropolitan Statistical Area",LAUMT0133860000000,162051.0,8900.0,153151.0,5.5,Feb2002,2002,2
4,70,"Anchorage, AK Metropolitan Statistical Area",LAUMT0211260000000,174092.0,11606.0,162486.0,6.7,Feb2002,2002,2
5,98,"Flagstaff, AZ Metropolitan Statistical Area",LAUMT0422380000000,63936.0,3591.0,60345.0,5.6,Feb2002,2002,2
6,153,"Little Rock-North Little Rock-Conway, AR Metro...",LAUMT0530780000000,309443.0,16371.0,293072.0,5.3,Feb2002,2002,2
7,189,"Bakersfield, CA Metropolitan Statistical Area",LAUMT0612540000000,297826.0,32697.0,265129.0,11.0,Feb2002,2002,2
8,191,"Chico, CA Metropolitan Statistical Area",LAUMT0617020000000,97125.0,7668.0,89457.0,7.9,Feb2002,2002,2
9,195,"El Centro, CA Metropolitan Statistical Area",LAUMT0620940000000,56878.0,6924.0,49954.0,12.2,Feb2002,2002,2
10,199,"Hanford-Corcoran, CA Metropolitan Statistical ...",LAUMT0625260000000,50674.0,6846.0,43828.0,13.5,Feb2002,2002,2
11,201,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",LAUMT0631080000000,6308761.0,393401.0,5915360.0,6.2,Feb2002,2002,2
12,205,"Merced, CA Metropolitan Statistical Area",LAUMT0632900000000,94492.0,12820.0,81672.0,13.6,Feb2002,2002,2
13,206,"Modesto, CA Metropolitan Statistical Area",LAUMT0633700000000,215086.0,23170.0,191916.0,10.8,Feb2002,2002,2
14,209,"Napa, CA Metropolitan Statistical Area",LAUMT0634900000000,69662.0,3068.0,66594.0,4.4,Feb2002,2002,2
15,210,"Oxnard-Thousand Oaks-Ventura, CA Metropolitan ...",LAUMT0637100000000,406546.0,21709.0,384837.0,5.3,Feb2002,2002,2
16,213,"Redding, CA Metropolitan Statistical Area",LAUMT0639820000000,78615.0,6542.0,72073.0,8.3,Feb2002,2002,2
17,220,"Salinas, CA Metropolitan Statistical Area",LAUMT0641500000000,202166.0,26025.0,176141.0,12.9,Feb2002,2002,2
18,222,"San Francisco-Oakland-Hayward, CA Metropolitan...",LAUMT0641860000000,2264488.0,135902.0,2128586.0,6.0,Feb2002,2002,2
19,230,"Santa Cruz-Watsonville, CA Metropolitan Statis...",LAUMT0642100000000,147918.0,13392.0,134526.0,9.1,Feb2002,2002,2
20,231,"Santa Maria-Santa Barbara, CA Metropolitan Sta...",LAUMT0642200000000,203221.0,10973.0,192248.0,5.4,Feb2002,2002,2
21,232,"Santa Rosa, CA Metropolitan Statistical Area",LAUMT0642220000000,257675.0,12967.0,244708.0,5.0,Feb2002,2002,2
22,236,"Stockton-Lodi, CA Metropolitan Statistical Area",LAUMT0644700000000,271577.0,26557.0,245020.0,9.8,Feb2002,2002,2
23,241,"Vallejo-Fairfield, CA Metropolitan Statistical...",LAUMT0646700000000,200194.0,11337.0,188857.0,5.7,Feb2002,2002,2
24,243,"Yuba City, CA Metropolitan Statistical Area",LAUMT0649700000000,63216.0,7876.0,55340.0,12.5,Feb2002,2002,2
25,255,"Colorado Springs, CO Metropolitan Statistical ...",LAUMT0817820000000,283974.0,17648.0,266326.0,6.2,Feb2002,2002,2
26,274,"Fort Collins, CO Metropolitan Statistical Area",LAUMT0822660000000,151123.0,7336.0,143787.0,4.9,Feb2002,2002,2
27,453,"Springfield, MA-CT Metropolitan NECTA",LAUMT2578100000000,366322.0,17920.0,348402.0,4.9,Feb2002,2002,2
28,479,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",LAUMT4237980000000,2895631.0,160074.0,2735557.0,5.5,Feb2002,2002,2
29,481,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",LAUMT1147900000000,2753752.0,116170.0,2637582.0,4.2,Feb2002,2002,2
...,...,...,...,...,...,...,...,...,...,...
34166,3939,"Killeen-Temple, TX Metropolitan Statistical Area",LAUMT4828660000000,178422.0,6750.0,171672.0,3.8,Mar2019,2019,3
34167,3951,"Laredo, TX Metropolitan Statistical Area",LAUMT4829700000000,118470.0,4481.0,113989.0,3.8,Mar2019,2019,3
34168,3963,"Lubbock, TX Metropolitan Statistical Area",LAUMT4831180000000,164347.0,5108.0,159239.0,3.1,Mar2019,2019,3
34169,4010,"San Angelo, TX Metropolitan Statistical Area",LAUMT4841660000000,56146.0,1715.0,54431.0,3.1,Mar2019,2019,3
34170,4012,"San Antonio-New Braunfels, TX Metropolitan Sta...",LAUMT4841700000000,1208355.0,37577.0,1170778.0,3.1,Mar2019,2019,3
34171,4049,"Waco, TX Metropolitan Statistical Area",LAUMT4847380000000,126423.0,4287.0,122136.0,3.4,Mar2019,2019,3
34172,4084,"Salt Lake City, UT Metropolitan Statistical Area",LAUMT4941620000000,653688.0,19482.0,634206.0,3.0,Mar2019,2019,3
34173,4134,"Burlington-South Burlington, VT Metropolitan N...",LAUMT5072400000000,125874.0,2226.0,123648.0,1.8,Mar2019,2019,3
34174,4351,"Blacksburg-Christiansburg-Radford, VA Metropol...",LAUMT5113980000000,91087.0,2874.0,88213.0,3.2,Mar2019,2019,3
34175,4376,"Harrisonburg, VA Metropolitan Statistical Area",LAUMT5125500000000,66255.0,1976.0,64279.0,3.0,Mar2019,2019,3
34176,4388,"Lynchburg, VA Metropolitan Statistical Area",LAUMT5131340000000,123558.0,4301.0,119257.0,3.5,Mar2019,2019,3
34177,4407,"Richmond, VA Metropolitan Statistical Area",LAUMT5140060000000,680912.0,21713.0,659199.0,3.2,Mar2019,2019,3
34178,4424,"Roanoke, VA Metropolitan Statistical Area",LAUMT5140220000000,159111.0,4774.0,154337.0,3.0,Mar2019,2019,3
34179,4478,"Bellingham, WA Metropolitan Statistical Area",LAUMT5313380000000,115560.0,6066.0,109494.0,5.2,Mar2019,2019,3
34180,4479,"Bremerton-Silverdale, WA Metropolitan Statisti...",LAUMT5314740000000,126601.0,6625.0,119976.0,5.2,Mar2019,2019,3
34181,4485,"Kennewick-Richland, WA Metropolitan Statistica...",LAUMT5328420000000,144777.0,10251.0,134526.0,7.1,Mar2019,2019,3
34182,4490,"Longview, WA Metropolitan Statistical Area",LAUMT5331020000000,47028.0,3162.0,43866.0,6.7,Mar2019,2019,3
34183,4492,"Mount Vernon-Anacortes, WA Metropolitan Statis...",LAUMT5334580000000,61819.0,3636.0,58183.0,5.9,Mar2019,2019,3
34184,4495,"Olympia-Tumwater, WA Metropolitan Statistical ...",LAUMT5336500000000,142766.0,7638.0,135128.0,5.4,Mar2019,2019,3
34185,4503,"Seattle-Tacoma-Bellevue, WA Metropolitan Stati...",LAUMT5342660000000,2171580.0,89628.0,2081952.0,4.1,Mar2019,2019,3
34186,4507,"Spokane-Spokane Valley, WA Metropolitan Statis...",LAUMT5344060000000,279026.0,18971.0,260055.0,6.8,Mar2019,2019,3
34187,4513,"Wenatchee, WA Metropolitan Statistical Area",LAUMT5348300000000,65048.0,4273.0,60775.0,6.6,Mar2019,2019,3
34188,4515,"Yakima, WA Metropolitan Statistical Area",LAUMT5349420000000,130937.0,12056.0,118881.0,9.2,Mar2019,2019,3
34189,4572,"Appleton, WI Metropolitan Statistical Area",LAUMT5511540000000,130369.0,3704.0,126665.0,2.8,Mar2019,2019,3
34190,4586,"Eau Claire, WI Metropolitan Statistical Area",LAUMT5520740000000,93119.0,3173.0,89946.0,3.4,Mar2019,2019,3
34191,4591,"Green Bay, WI Metropolitan Statistical Area",LAUMT5524580000000,176099.0,5293.0,170806.0,3.0,Mar2019,2019,3
34192,4602,"Madison, WI Metropolitan Statistical Area",LAUMT5531540000000,387143.0,9439.0,377704.0,2.4,Mar2019,2019,3
34193,4619,"Oshkosh-Neenah, WI Metropolitan Statistical Area",LAUMT5536780000000,93084.0,2501.0,90583.0,2.7,Mar2019,2019,3
34194,4624,"Racine, WI Metropolitan Statistical Area",LAUMT5539540000000,99500.0,3920.0,95580.0,3.9,Mar2019,2019,3
34195,4630,"Sheboygan, WI Metropolitan Statistical Area",LAUMT5543100000000,62557.0,1614.0,60943.0,2.6,Mar2019,2019,3

In [122]:
employment_final.to_csv('../Factors and Ridership Data/Final Datasets/employment_monthly.csv')

In [123]:
employment_final.groupby(['lma_title','Year']).mean().to_csv('../Factors and Ridership Data/Final Datasets/employment_yearly.csv')

In [124]:
emp_yearly=pd.read_csv('../Factors and Ridership Data/Final Datasets/employment_yearly.csv',
                    encoding='utf-8')
emp_yearly

,lma_title,Year,record,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,Month
0,"Albuquerque, NM Metropolitan Statistical Area",2002,3048.0,378470.000000,19348.181818,359121.818182,5.109091,7.0
1,"Albuquerque, NM Metropolitan Statistical Area",2003,3048.0,381343.250000,20593.083333,360750.166667,5.408333,6.5
2,"Albuquerque, NM Metropolitan Statistical Area",2004,3048.0,387459.666667,19779.500000,367680.166667,5.100000,6.5
3,"Albuquerque, NM Metropolitan Statistical Area",2005,3048.0,394235.583333,19014.583333,375221.000000,4.825000,6.5
4,"Albuquerque, NM Metropolitan Statistical Area",2006,3048.0,402297.666667,15859.166667,386438.500000,3.941667,6.5
5,"Albuquerque, NM Metropolitan Statistical Area",2007,3048.0,404248.583333,15005.750000,389242.833333,3.700000,6.5
6,"Albuquerque, NM Metropolitan Statistical Area",2008,3048.0,407339.416667,18586.500000,388752.916667,4.558333,6.5
7,"Albuquerque, NM Metropolitan Statistical Area",2009,3048.0,404223.583333,31447.333333,372776.250000,7.766667,6.5
8,"Albuquerque, NM Metropolitan Statistical Area",2010,3048.0,424689.583333,34020.500000,390669.083333,8.000000,6.5
9,"Albuquerque, NM Metropolitan Statistical Area",2011,3048.0,421066.416667,31629.166667,389437.250000,7.491667,6.5
10,"Albuquerque, NM Metropolitan Statistical Area",2012,3048.0,417516.250000,29752.500000,387763.750000,7.125000,6.5
11,"Albuquerque, NM Metropolitan Statistical Area",2013,3048.0,415693.166667,28250.833333,387442.333333,6.783333,6.5
12,"Albuquerque, NM Metropolitan Statistical Area",2014,3048.0,418886.750000,27273.583333,391613.166667,6.508333,6.5
13,"Albuquerque, NM Metropolitan Statistical Area",2015,3048.0,420490.333333,25728.583333,394761.750000,6.125000,6.5
14,"Albuquerque, NM Metropolitan Statistical Area",2016,3048.0,426050.000000,25624.750000,400425.250000,6.033333,6.5
15,"Albuquerque, NM Metropolitan Statistical Area",2017,3048.0,427866.500000,23297.833333,404568.666667,5.458333,6.5
16,"Albuquerque, NM Metropolitan Statistical Area",2018,3048.0,429849.750000,20144.000000,409705.750000,4.675000,6.5
17,"Albuquerque, NM Metropolitan Statistical Area",2019,3048.0,436069.666667,20590.666667,415479.000000,4.700000,2.0
18,"Ames, IA Metropolitan Statistical Area",2002,953.0,48067.181818,1222.272727,46844.909091,2.536364,7.0
19,"Ames, IA Metropolitan Statistical Area",2003,953.0,46959.833333,1340.083333,45619.750000,2.858333,6.5
20,"Ames, IA Metropolitan Statistical Area",2004,953.0,46472.916667,1370.666667,45102.250000,2.950000,6.5
21,"Ames, IA Metropolitan Statistical Area",2005,953.0,46921.833333,1422.083333,45499.750000,3.041667,6.5
22,"Ames, IA Metropolitan Statistical Area",2006,953.0,47827.000000,1248.416667,46578.583333,2.625000,6.5
23,"Ames, IA Metropolitan Statistical Area",2007,953.0,48044.333333,1331.333333,46713.000000,2.766667,6.5
24,"Ames, IA Metropolitan Statistical Area",2008,953.0,48815.500000,1555.250000,47260.250000,3.183333,6.5
25,"Ames, IA Metropolitan Statistical Area",2009,953.0,49360.750000,2339.833333,47020.916667,4.750000,6.5
26,"Ames, IA Metropolitan Statistical Area",2010,953.0,53334.833333,2239.583333,51095.250000,4.191667,6.5
27,"Ames, IA Metropolitan Statistical Area",2011,953.0,53197.583333,2096.083333,51101.500000,3.941667,6.5
28,"Ames, IA Metropolitan Statistical Area",2012,953.0,53317.500000,1901.500000,51416.000000,3.591667,6.5
29,"Ames, IA Metropolitan Statistical Area",2013,953.0,54751.416667,1823.750000,52927.666667,3.341667,6.5
...,...,...,...,...,...,...,...,...
2958,"York-Hanover, PA Metropolitan Statistical Area",2008,3561.0,229229.916667,10771.000000,218458.916667,4.700000,6.5
2959,"York-Hanover, PA Metropolitan Statistical Area",2009,3561.0,226704.666667,18420.916667,208283.750000,8.116667,6.5
2960,"York-Hanover, PA Metropolitan Statistical Area",2010,3561.0,230402.166667,19343.916667,211058.250000,8.383333,6.5
2961,"York-Hanover, PA Metropolitan Statistical Area",2011,3561.0,230665.416667,17292.833333,213372.583333,7.491667,6.5
2962,"York-Hanover, PA Metropolitan Statistical Area",2012,3561.0,233209.000000,17291.666667,215917.333333,7.408333,6.5
2963,"York-Hanover, PA Metropolitan Statistical Area",2013,3561.0,232152.333333,15626.166667,216526.166667,6.733333,6.5
2964,"York-Hanover, PA Metropolitan Statistical Area",2014,3561.0,230583.000000,12417.166667,218165.833333,5.383333,6.5
2965,"York-Hanover, PA Metropolitan Statistical Area",2015,3561.0,232560.083333,11061.083333,221499.000000,4.758333,6.5
2966,"York-Hanover, PA Metropolitan Statistical Area",2016,3561.0,234860.583333,10834.833333,224025.750000,4.616667,6.5
2967,"York-Hanover, PA Metropolitan Statistical Area",2017,3561.0,234875.166667,10212.416667,224662.750000,4.350000,6.5
2968,"York-Hanover, PA Metropolitan Statistical Area",2018,3561.0,234140.833333,9023.583333,225117.250000,3.866667,6.5
2969,"York-Hanover, PA Metropolitan Statistical Area",2019,3561.0,233809.000000,8230.666667,225578.333333,3.533333,2.0
2970,"Yuba City, CA Metropolitan Statistical Area",2002,243.0,64173.727273,6628.545455,57545.181818,10.372727,7.0
2971,"Yuba City, CA Metropolitan Statistical Area",2003,243.0,64586.083333,7071.500000,57514.583333,10.958333,6.5
2972,"Yuba City, CA Metropolitan Statistical Area",2004,243.0,65283.083333,6671.250000,58611.833333,10.233333,6.5
2973,"Yuba City, CA Metropolitan Statistical Area",2005,243.0,65683.083333,6170.583333,59512.500000,9.408333,6.5
2974,"Yuba City, CA Metropolitan Statistical Area",2006,243.0,66914.083333,5943.000000,60971.083333,8.908333,6.5
2975,"Yuba City, CA Metropolitan Statistical Area",2007,243.0,68331.250000,6496.750000,61834.500000,9.516667,6.5
2976,"Yuba City, CA Metropolitan Statistical Area",2008,243.0,68758.166667,8382.083333,60376.083333,12.191667,6.5
2977,"Yuba City, CA Metropolitan Statistical Area",2009,243.0,70229.666667,11664.666667,58565.000000,16.625000,6.5
2978,"Yuba City, CA Metropolitan Statistical Area",2010,243.0,75028.583333,13598.916667,61429.666667,18.125000,6.5
2979,"Yuba City, CA Metropolitan Statistical Area",2011,243.0,74885.916667,13255.250000,61630.666667,17.716667,6.5
2980,"Yuba City, CA Metropolitan Statistical Area",2012,243.0,74389.500000,12093.000000,62296.500000,16.250000,6.5
2981,"Yuba City, CA Metropolitan Statistical Area",2013,243.0,73041.500000,10267.833333,62773.666667,14.058333,6.5
2982,"Yuba City, CA Metropolitan Statistical Area",2014,243.0,72182.833333,8721.666667,63461.166667,12.083333,6.5
2983,"Yuba City, CA Metropolitan Statistical Area",2015,243.0,72494.500000,7356.333333,65138.166667,10.166667,6.5
2984,"Yuba City, CA Metropolitan Statistical Area",2016,243.0,73175.250000,6780.500000,66394.750000,9.258333,6.5
2985,"Yuba City, CA Metropolitan Statistical Area",2017,243.0,73832.916667,6043.333333,67789.583333,8.200000,6.5
2986,"Yuba City, CA Metropolitan Statistical Area",2018,243.0,74555.500000,5255.083333,69300.416667,7.058333,6.5
2987,"Yuba City, CA Metropolitan Statistical Area",2019,243.0,75718.333333,6891.666667,68826.666667,9.100000,2.0

In [125]:
emp_yearly['clean1']=emp_yearly['lma_title'].apply(lambda x:x[0:-29])
emp_yearly

,lma_title,Year,record,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,Month,clean1
0,"Albuquerque, NM Metropolitan Statistical Area",2002,3048.0,378470.000000,19348.181818,359121.818182,5.109091,7.0,"Albuquerque, NM"
1,"Albuquerque, NM Metropolitan Statistical Area",2003,3048.0,381343.250000,20593.083333,360750.166667,5.408333,6.5,"Albuquerque, NM"
2,"Albuquerque, NM Metropolitan Statistical Area",2004,3048.0,387459.666667,19779.500000,367680.166667,5.100000,6.5,"Albuquerque, NM"
3,"Albuquerque, NM Metropolitan Statistical Area",2005,3048.0,394235.583333,19014.583333,375221.000000,4.825000,6.5,"Albuquerque, NM"
4,"Albuquerque, NM Metropolitan Statistical Area",2006,3048.0,402297.666667,15859.166667,386438.500000,3.941667,6.5,"Albuquerque, NM"
5,"Albuquerque, NM Metropolitan Statistical Area",2007,3048.0,404248.583333,15005.750000,389242.833333,3.700000,6.5,"Albuquerque, NM"
6,"Albuquerque, NM Metropolitan Statistical Area",2008,3048.0,407339.416667,18586.500000,388752.916667,4.558333,6.5,"Albuquerque, NM"
7,"Albuquerque, NM Metropolitan Statistical Area",2009,3048.0,404223.583333,31447.333333,372776.250000,7.766667,6.5,"Albuquerque, NM"
8,"Albuquerque, NM Metropolitan Statistical Area",2010,3048.0,424689.583333,34020.500000,390669.083333,8.000000,6.5,"Albuquerque, NM"
9,"Albuquerque, NM Metropolitan Statistical Area",2011,3048.0,421066.416667,31629.166667,389437.250000,7.491667,6.5,"Albuquerque, NM"
10,"Albuquerque, NM Metropolitan Statistical Area",2012,3048.0,417516.250000,29752.500000,387763.750000,7.125000,6.5,"Albuquerque, NM"
11,"Albuquerque, NM Metropolitan Statistical Area",2013,3048.0,415693.166667,28250.833333,387442.333333,6.783333,6.5,"Albuquerque, NM"
12,"Albuquerque, NM Metropolitan Statistical Area",2014,3048.0,418886.750000,27273.583333,391613.166667,6.508333,6.5,"Albuquerque, NM"
13,"Albuquerque, NM Metropolitan Statistical Area",2015,3048.0,420490.333333,25728.583333,394761.750000,6.125000,6.5,"Albuquerque, NM"
14,"Albuquerque, NM Metropolitan Statistical Area",2016,3048.0,426050.000000,25624.750000,400425.250000,6.033333,6.5,"Albuquerque, NM"
15,"Albuquerque, NM Metropolitan Statistical Area",2017,3048.0,427866.500000,23297.833333,404568.666667,5.458333,6.5,"Albuquerque, NM"
16,"Albuquerque, NM Metropolitan Statistical Area",2018,3048.0,429849.750000,20144.000000,409705.750000,4.675000,6.5,"Albuquerque, NM"
17,"Albuquerque, NM Metropolitan Statistical Area",2019,3048.0,436069.666667,20590.666667,415479.000000,4.700000,2.0,"Albuquerque, NM"
18,"Ames, IA Metropolitan Statistical Area",2002,953.0,48067.181818,1222.272727,46844.909091,2.536364,7.0,"Ames, IA"
19,"Ames, IA Metropolitan Statistical Area",2003,953.0,46959.833333,1340.083333,45619.750000,2.858333,6.5,"Ames, IA"
20,"Ames, IA Metropolitan Statistical Area",2004,953.0,46472.916667,1370.666667,45102.250000,2.950000,6.5,"Ames, IA"
21,"Ames, IA Metropolitan Statistical Area",2005,953.0,46921.833333,1422.083333,45499.750000,3.041667,6.5,"Ames, IA"
22,"Ames, IA Metropolitan Statistical Area",2006,953.0,47827.000000,1248.416667,46578.583333,2.625000,6.5,"Ames, IA"
23,"Ames, IA Metropolitan Statistical Area",2007,953.0,48044.333333,1331.333333,46713.000000,2.766667,6.5,"Ames, IA"
24,"Ames, IA Metropolitan Statistical Area",2008,953.0,48815.500000,1555.250000,47260.250000,3.183333,6.5,"Ames, IA"
25,"Ames, IA Metropolitan Statistical Area",2009,953.0,49360.750000,2339.833333,47020.916667,4.750000,6.5,"Ames, IA"
26,"Ames, IA Metropolitan Statistical Area",2010,953.0,53334.833333,2239.583333,51095.250000,4.191667,6.5,"Ames, IA"
27,"Ames, IA Metropolitan Statistical Area",2011,953.0,53197.583333,2096.083333,51101.500000,3.941667,6.5,"Ames, IA"
28,"Ames, IA Metropolitan Statistical Area",2012,953.0,53317.500000,1901.500000,51416.000000,3.591667,6.5,"Ames, IA"
29,"Ames, IA Metropolitan Statistical Area",2013,953.0,54751.416667,1823.750000,52927.666667,3.341667,6.5,"Ames, IA"
...,...,...,...,...,...,...,...,...,...
2958,"York-Hanover, PA Metropolitan Statistical Area",2008,3561.0,229229.916667,10771.000000,218458.916667,4.700000,6.5,"York-Hanover, PA"
2959,"York-Hanover, PA Metropolitan Statistical Area",2009,3561.0,226704.666667,18420.916667,208283.750000,8.116667,6.5,"York-Hanover, PA"
2960,"York-Hanover, PA Metropolitan Statistical Area",2010,3561.0,230402.166667,19343.916667,211058.250000,8.383333,6.5,"York-Hanover, PA"
2961,"York-Hanover, PA Metropolitan Statistical Area",2011,3561.0,230665.416667,17292.833333,213372.583333,7.491667,6.5,"York-Hanover, PA"
2962,"York-Hanover, PA Metropolitan Statistical Area",2012,3561.0,233209.000000,17291.666667,215917.333333,7.408333,6.5,"York-Hanover, PA"
2963,"York-Hanover, PA Metropolitan Statistical Area",2013,3561.0,232152.333333,15626.166667,216526.166667,6.733333,6.5,"York-Hanover, PA"
2964,"York-Hanover, PA Metropolitan Statistical Area",2014,3561.0,230583.000000,12417.166667,218165.833333,5.383333,6.5,"York-Hanover, PA"
2965,"York-Hanover, PA Metropolitan Statistical Area",2015,3561.0,232560.083333,11061.083333,221499.000000,4.758333,6.5,"York-Hanover, PA"
2966,"York-Hanover, PA Metropolitan Statistical Area",2016,3561.0,234860.583333,10834.833333,224025.750000,4.616667,6.5,"York-Hanover, PA"
2967,"York-Hanover, PA Metropolitan Statistical Area",2017,3561.0,234875.166667,10212.416667,224662.750000,4.350000,6.5,"York-Hanover, PA"
2968,"York-Hanover, PA Metropolitan Statistical Area",2018,3561.0,234140.833333,9023.583333,225117.250000,3.866667,6.5,"York-Hanover, PA"
2969,"York-Hanover, PA Metropolitan Statistical Area",2019,3561.0,233809.000000,8230.666667,225578.333333,3.533333,2.0,"York-Hanover, PA"
2970,"Yuba City, CA Metropolitan Statistical Area",2002,243.0,64173.727273,6628.545455,57545.181818,10.372727,7.0,"Yuba City, CA"
2971,"Yuba City, CA Metropolitan Statistical Area",2003,243.0,64586.083333,7071.500000,57514.583333,10.958333,6.5,"Yuba City, CA"
2972,"Yuba City, CA Metropolitan Statistical Area",2004,243.0,65283.083333,6671.250000,58611.833333,10.233333,6.5,"Yuba City, CA"
2973,"Yuba City, CA Metropolitan Statistical Area",2005,243.0,65683.083333,6170.583333,59512.500000,9.408333,6.5,"Yuba City, CA"
2974,"Yuba City, CA Metropolitan Statistical Area",2006,243.0,66914.083333,5943.000000,60971.083333,8.908333,6.5,"Yuba City, CA"
2975,"Yuba City, CA Metropolitan Statistical Area",2007,243.0,68331.250000,6496.750000,61834.500000,9.516667,6.5,"Yuba City, CA"
2976,"Yuba City, CA Metropolitan Statistical Area",2008,243.0,68758.166667,8382.083333,60376.083333,12.191667,6.5,"Yuba City, CA"
2977,"Yuba City, CA Metropolitan Statistical Area",2009,243.0,70229.666667,11664.666667,58565.000000,16.625000,6.5,"Yuba City, CA"
2978,"Yuba City, CA Metropolitan Statistical Area",2010,243.0,75028.583333,13598.916667,61429.666667,18.125000,6.5,"Yuba City, CA"
2979,"Yuba City, CA Metropolitan Statistical Area",2011,243.0,74885.916667,13255.250000,61630.666667,17.716667,6.5,"Yuba City, CA"
2980,"Yuba City, CA Metropolitan Statistical Area",2012,243.0,74389.500000,12093.000000,62296.500000,16.250000,6.5,"Yuba City, CA"
2981,"Yuba City, CA Metropolitan Statistical Area",2013,243.0,73041.500000,10267.833333,62773.666667,14.058333,6.5,"Yuba City, CA"
2982,"Yuba City, CA Metropolitan Statistical Area",2014,243.0,72182.833333,8721.666667,63461.166667,12.083333,6.5,"Yuba City, CA"
2983,"Yuba City, CA Metropolitan Statistical Area",2015,243.0,72494.500000,7356.333333,65138.166667,10.166667,6.5,"Yuba City, CA"
2984,"Yuba City, CA Metropolitan Statistical Area",2016,243.0,73175.250000,6780.500000,66394.750000,9.258333,6.5,"Yuba City, CA"
2985,"Yuba City, CA Metropolitan Statistical Area",2017,243.0,73832.916667,6043.333333,67789.583333,8.200000,6.5,"Yuba City, CA"
2986,"Yuba City, CA Metropolitan Statistical Area",2018,243.0,74555.500000,5255.083333,69300.416667,7.058333,6.5,"Yuba City, CA"
2987,"Yuba City, CA Metropolitan Statistical Area",2019,243.0,75718.333333,6891.666667,68826.666667,9.100000,2.0,"Yuba City, CA"

In [126]:
emp_yearly['Geography']=emp_yearly['clean1'].apply(lambda x:x+' '+'Metro Area')
emp_yearly.head()

,lma_title,Year,record,Total_Labor,Unemployment_Labor,employment_Labor,Unemployment_Rate,Month,clean1,Geography
0,"Albuquerque, NM Metropolitan Statistical Area",2002,3048.0,378470.000000,19348.181818,359121.818182,5.109091,7.0,"Albuquerque, NM","Albuquerque, NM Metro Area"
1,"Albuquerque, NM Metropolitan Statistical Area",2003,3048.0,381343.250000,20593.083333,360750.166667,5.408333,6.5,"Albuquerque, NM","Albuquerque, NM Metro Area"
2,"Albuquerque, NM Metropolitan Statistical Area",2004,3048.0,387459.666667,19779.500000,367680.166667,5.100000,6.5,"Albuquerque, NM","Albuquerque, NM Metro Area"
3,"Albuquerque, NM Metropolitan Statistical Area",2005,3048.0,394235.583333,19014.583333,375221.000000,4.825000,6.5,"Albuquerque, NM","Albuquerque, NM Metro Area"
4,"Albuquerque, NM Metropolitan Statistical Area",2006,3048.0,402297.666667,15859.166667,386438.500000,3.941667,6.5,"Albuquerque, NM","Albuquerque, NM Metro Area"

In [127]:
emp_yearly=emp_yearly.drop(columns=['lma_title','record','Month','clean1'])

In [136]:
list(emp_yearly)

['Year',
 'Total_Labor_MSA',
 'Unemployment_Labor_MSA',
 'Employment_Labor_MSA',
 'Unemployment_Rate_MSA',
 'Geography']

In [135]:
emp_yearly=emp_yearly.rename(columns={'Total_Labor':'Total_Labor_MSA',
                                      'Unemployment_Labor':'Unemployment_Labor_MSA',
                                      'Employment_Labor:MSA':'Employment_Labor_MSA',
                                      'Unemployment_Rate':'Unemployment_Rate_MSA'})
emp_yearly.head()

,Year,Total_Labor_MSA,Unemployment_Labor_MSA,Employment_Labor_MSA,Unemployment_Rate_MSA,Geography
0,2002,378470.000000,19348.181818,359121.818182,5.109091,"Albuquerque, NM Metro Area"
1,2003,381343.250000,20593.083333,360750.166667,5.408333,"Albuquerque, NM Metro Area"
2,2004,387459.666667,19779.500000,367680.166667,5.100000,"Albuquerque, NM Metro Area"
3,2005,394235.583333,19014.583333,375221.000000,4.825000,"Albuquerque, NM Metro Area"
4,2006,402297.666667,15859.166667,386438.500000,3.941667,"Albuquerque, NM Metro Area"

In [137]:
emp_yearly.to_csv('../Factors and Ridership Data/Final Datasets/employment_yearly_updated.csv')

In [138]:
emp_alternate=

2988