In [1]:
import pandas as pd
import numpy as np

In [7]:
ridership=pd.read_csv('../Factors and Ridership Data/Final Datasets/annual_ridership_modified.csv')
ridership.head()

,MNAME,RailBus,Year,UA,CBSA,UPT,VRM,VRH,FARE_TOTAL,FARE_per_UPT,AREALANDPT,UAPOP,UAAREALAND,MAREALAND,UAPOPPCT,UPT_ADJ,VRM_ADJ,VRH_ADJ
0,"Abilene, TX Metro Area",Bus,2006,280.0,10180.0,493638.0,441300.0,30750.0,201795.0,0.408791,141756054.0,110421.0,141756054.0,7.105575e+09,100.0,493638.0,441300.0,30750.0
1,"Abilene, TX Metro Area",Bus,2007,280.0,10180.0,490254.0,424839.0,30435.0,217336.0,0.443313,141756054.0,110421.0,141756054.0,7.105575e+09,100.0,490254.0,424839.0,30435.0
2,"Abilene, TX Metro Area",Bus,2008,280.0,10180.0,473528.0,421757.0,31794.0,254879.0,0.538255,141756054.0,110421.0,141756054.0,7.105575e+09,100.0,473528.0,421757.0,31794.0
3,"Abilene, TX Metro Area",Bus,2009,280.0,10180.0,478743.0,418714.0,30445.0,248600.0,0.519277,141756054.0,110421.0,141756054.0,7.105575e+09,100.0,478743.0,418714.0,30445.0
4,"Abilene, TX Metro Area",Bus,2010,280.0,10180.0,456753.0,406871.0,39190.0,295374.0,0.646682,141756054.0,110421.0,141756054.0,7.105575e+09,100.0,456753.0,406871.0,39190.0

In [8]:
ridership.drop(['UA','UPT_ADJ','VRM_ADJ','VRH_ADJ','UAPOP','UAAREALAND','MAREALAND','UAPOPPCT'],axis=1,inplace=True)

In [15]:
ridership.groupby('MNAME').CBSA.value_counts()

MNAME                                         CBSA
Abilene, TX Metro Area                        10180.0     26
Akron, OH Metro Area                          20840.0     24
                                              10420.0      2
Albany, GA Metro Area                         10500.0     26
Albany-Schenectady-Troy, NY Metro Area        21160.0     26
                                                          ..
Youngstown-Warren-Boardman, OH-PA Metro Area  99320.0     12
                                              148980.0    12
                                              49660.0      2
Yuba City, CA Metro Area                      49700.0     26
Yuma, AZ Metro Area                           49740.0     26
Name: CBSA, Length: 517, dtype: int64